:host {
  [header-model] {
    mat-icon.icon-help {
      color: #fff;
      pointer-events: auto;
    }
  }

  [modal-create-content] {
    [form-custom] {
      input {
        text-align: left !important;
      }

      .ocultar-card {
        display: none;
      }

      [card-content] {
        .fatura {
          font-weight: 500;
          font-size: 15px;

          &.fatura-positiva {
            color: #0fe400;
          }

          &.fatura-negativa {
            color: red;
          }

          &.fatura-neutra {
            color: #673ab7;
          }
        }

        [fatura-descricao] {
          background-color: #673ab71f;
          border: solid 2px #673ab7;
          border-radius: 6px;
          padding: 10px;
          text-align: start;

          p {
            margin: 0px;
          }
          b {
            font-weight: 500;
          }

          &.descricao-negativa {
            background-color: rgb(255 0 0 / 6%);
            border: solid 2px red;
          }

          &.descricao-positiva {
            background-color: rgb(15 228 0 / 6%);
            border: solid 2px #0fe400;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    [header-model] {
      h2 {
        padding: 10px;
        font-size: 24px;
      }
    }
  }
}
