:host {
  [header-model] {
    background-color: #673ab7;
    width: 100%;
    height: 10%;
    text-align: center;

    h2 {
      color: #fff;
      padding: 10px;
      font-size: 24px;
    }
    mat-icon.icon-help {
      color: #fff;
      pointer-events: auto;
    }
  }

  [modal-content] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    [form-custom] {
      width: 100%;

      .form-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }

      ::ng-deep {
        mat-form-field {
          width: 100%;
          margin-bottom: 5px;
        }
        .mdc-text-field--filled {
          height: 52px;
        }

        .mat-mdc-form-field .mat-mdc-text-field-wrapper {
          border-radius: 8px;
          max-width: 100%;
        }
      }

      input {
        text-align: left !important;
      }

      .ocultar-card {
        display: none;
      }
      [card-content] {
        .fatura {
          font-weight: 500;
          font-size: 15px;

          &.fatura-positiva {
            color: #0fe400;
          }

          &.fatura-negativa {
            color: red;
          }

          &.fatura-neutra {
            color: #673ab7;
          }
        }

        [fatura-descricao] {
          background-color: #673ab71f;
          border: solid 2px #673ab7;
          border-radius: 6px;
          padding: 10px;
          text-align: start;

          p {
            margin: 0px;
          }
          b {
            font-weight: 500;
          }

          &.descricao-negativa {
            background-color: rgb(255 0 0 / 6%);
            border: solid 2px red;
          }

          &.descricao-positiva {
            background-color: rgb(15 228 0 / 6%);
            border: solid 2px #0fe400;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    [header-model] {
      h2 {
        padding: 10px;
        font-size: 24px;
      }
    }
  }
}
