[spinner] {
  font-size: 20px;
  color: white;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #6c757d;
  text-align: right;
  padding: 10px;
  border-top: 1px solid #eaeaea;
  z-index: 999;
}

@media (max-width: 768px) {
  footer {
    display: none;
  }
}
