<div app-multi-card-header>
  <div app-card-title>Comparativo de Preços por Fornecedor</div>
  <mat-icon
    class="icon-help"
    matTooltip="Veja aqui qual fornecedor tem o menor preço para cada produto
          e quanto você pode economizar escolhendo o mais barato."
    matTooltipPosition="above"
    >help_outline</mat-icon
  >
</div>
<div app-multi-card-body>
  <app-graphic
    [graphicConfig]="graphicConfig"
    [graphicType]="'bar'"
    [width]="1000"
    [height]="307"
  ></app-graphic>
</div>
