:host {
  [categoria-list] {
    table {
      th {
        mat-icon.icon-help {
          height: 16px;
          width: 14px;
          font-size: 14px;
        }
      }

      td,
      th {
        text-align: center;
      }

      [space] {
        margin-left: 20px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    table {
      display: inline-table;
    }
  }
}
