:host {
  [despesa-list-by-group] {
    [app-card] {
      [app-card-body] {
        padding-top: 15px;

        [filtro] {
          display: flex;
          justify-content: space-between;
          width: 100%;
          border-radius: 10px;
          padding-bottom: 12px;

          [input-filtrar] {
            width: 100%;

            ::ng-deep {
              mat-form-field {
                width: 100%;
              }
              .mat-mdc-form-field .mat-mdc-text-field-wrapper {
                max-width: 100%;
                border-radius: 10px;
                height: 50px;
              }
              .mat-mdc-form-field-icon-suffix {
                margin-bottom: 5px;
              }

              .mat-mdc-form-field-bottom-align::before {
                display: none;
              }

              .mdc-text-field--filled:not(.mdc-text-field--disabled)
                .mdc-line-ripple::before {
                border-bottom-color: #673ab7;
              }
            }

            .mat-icon {
              width: 40px;
            }
          }

          ::ng-deep {
            .mat-mdc-form-field-bottom-align::before {
              display: none;
            }

            .mat-mdc-form-field .mat-mdc-text-field-wrapper {
              height: 50px;
            }

            .mat-mdc-text-field-wrapper.mdc-text-field--outlined
              .mat-mdc-form-field-infix {
              padding-top: 14px;
              padding-bottom: 14px;
            }
          }
        }

        [app-table] {
          table {
            margin-bottom: 15px;

            & input[type="text"] {
              border: none;
              outline: none;
              width: 90%;
              background-color: transparent;
              text-align: center;
              font-size: 15px;
              color: #708090;
              border-bottom: 1px solid #d3d3d3;
            }

            input.preco {
              text-align: center !important;
            }

            ::ng-deep {
              .mat-mdc-select-value {
                border: none;
                outline: none;
                width: 90%;
                background-color: transparent;
                text-align: center;
                font-size: 15px;
                color: #708090;
                border-bottom: 1px solid #d3d3d3;
              }

              .mat-mdc-select-trigger {
                right: -4%;
              }
              .cdk-overlay-connected-position-bounding-box {
                & .cdk-overlay-pane {
                  width: 14% !important;
                }
              }
            }

            [space] {
              margin-left: 20px;
            }

            td {
              padding: 6px;
            }

            & tr:nth-child(even) {
              background-color: #f7f7f7;
            }
          }
        }

        [div-footer] {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .total-itens {
            & span {
              font-size: 15px;
              margin-right: 30px;
              padding: 10px;
              border: solid 2px #673ab7b3;
              border-radius: 5px;
              color: #673ab7 !important;
              font-weight: 500;

              strong {
                font-weight: 550;
                color: #673ab7; /* #00d51e; */
              }
            }
          }

          .pagination {
            display: flex;
            align-items: center;

            ::ng-deep {
              .mat-mdc-paginator {
                color: #708090;
              }
              .mat-mdc-paginator-range-label {
                margin: 0px;
              }
            }
            & span {
              font-weight: 550;
              font-size: 12px;
              color: #708090;
            }
          }
        }

        .disabled {
          pointer-events: none;
          opacity: 0.8;
        }
      }

      [app-button-action] {
        background-color: #ffffff;
        color: #673ab7;

        & [icon-bg] {
          background-color: #ffffff;
          border: 2px solid #673ab7;

          & mat-icon {
            color: #0d0d0d;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    [app-card] {
      [app-card-headerer] {
        [filtro] {
          [input-filtrar] {
            width: 60%;
          }
        }
      }

      [app-card-body] {
        [div-footer] {
          .total-itens {
            display: none;
          }

          .pagination {
            display: flex;
            justify-content: center;

            ::ng-deep {
              .mat-mdc-paginator-container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px;
                width: 100%;
              }

              .mat-mdc-paginator-page-size-label {
                margin: 0px;
                white-space: nowrap;
              }
              .mat-mdc-paginator-range-label {
                margin: 0px;
                white-space: nowrap;
              }

              .mat-mdc-paginator-page-size {
                margin-right: 0px;
              }
              .mat-mdc-paginator-range-actions {
                border: solid 1px #ccc;
                border-radius: 5px;
                padding: 0px 6px 0px;
                margin: 10px;
              }
            }

            & span {
              display: none;
            }
          }
        }

        .mat-paginator {
          font-size: 12px;
        }
      }

      [app-button-action] {
        align-items: center;

        padding: 10px;
        & [icon-bg] {
          display: none;
        }

        & [title-button] {
          right: 0%;
        }
      }
    }
  }
}
