<div dashboard>
  <div app-card-container app-tooltip-helper>
    <div app-multi-card>
      <div app-multi-card-header>
        <div app-card-title>Despesa de casa</div>
        <div>
          <button download-button (click)="downloadRelatorioDespesasCasa()">
            Download do Relatório
          </button>
          <mat-icon
            class="icon-help"
            matTooltip="Baixar um PDF onde descreve os cálculos feitos sobre os valores das despesas relacionadas a Almoço, Lanches, Higiene etc..."
            >help_outline
          </mat-icon>
        </div>
      </div>
      <div app-multi-card-body>
        <div status-fatura>
          <mat-radio-group
            [(ngModel)]="statusFaturaCasa"
            (change)="onStatusChange(casa)"
          >
            <mat-radio-button value="aberto">Fatura Aberta</mat-radio-button>
            <mat-radio-button value="fechado">Fatura Fechada</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="despesasPorMembros.length > 0; else semDados">
          <div *ngFor="let item of despesasPorMembros" class="expense-item">
            <div class="expense-title">{{ item.nome }}</div>
            <div class="expense-value">
              {{ item.valorDespesaCasa | currency:'BRL' }}
            </div>
            <div
              share-whatsapp
              (click)="openMensagemWhatsAppModal(item.nome, false)"
            >
              <mat-icon>share</mat-icon>
              <span>WhatsApp</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div app-multi-card>
      <div app-multi-card-header>
        <div app-card-title>Despesa de moradia</div>
        <div>
          <button
            download-button
            (click)="downloadRelatorioDespesasHabitacional()"
          >
            Download do Relatório
          </button>
          <mat-icon
            class="icon-help"
            matTooltip="Baixar um PDF onde descreve os calculos feitos sobre os valores das despesas relacionadas a Aluguel, Condomínio, e Conta de Luz foram somados."
            >help_outline</mat-icon
          >
        </div>
      </div>
      <div app-multi-card-body>
        <div status-fatura>
          <mat-radio-group
            [(ngModel)]="statusFaturaMoradia"
            (change)="onStatusChange(moradia)"
          >
            <mat-radio-button value="aberto">Fatura Aberta</mat-radio-button>
            <mat-radio-button value="fechado">Fatura Fechada</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="despesasPorMembros.length > 0; else semDados">
          <ng-container *ngFor="let item of despesasPorMembros">
            <div *ngIf="item.valorDespesaMoradia >= 0" class="expense-item">
              <div class="expense-title">{{ item.nome }}</div>
              <div class="expense-value">
                {{ item.valorDespesaMoradia | currency:'BRL' }}
              </div>
              <div
                share-whatsapp
                (click)="openMensagemWhatsAppModal(item.nome, true)"
              >
                <mat-icon>share</mat-icon>
                <span>WhatsApp</span>
              </div>
            </div>
          </ng-container>
        </div>
        <ng-template #noDespesasMoradia>
          <h2>Nenhuma despesa encontrada</h2>
        </ng-template>
      </div>
    </div>

    <div app-multi-card>
      <div app-multi-card-header>
        <div app-card-title>Análise de Compras por Grupo</div>
      </div>
      <div app-multi-card-body>
        <div
          *ngIf="graphicConfig && graphicConfig.chartData.datasets.length; else semDados"
        >
          <app-graphic
            [graphicConfig]="graphicConfig"
            [graphicType]="'line'"
            [width]="900"
            [height]="315"
          >
          </app-graphic>
        </div>
        <ng-template #noGraphicData>
          <h2>Nenhuma análise de compras encontrada</h2>
        </ng-template>
      </div>
    </div>

    <div app-multi-card>
      <div app-multi-card-header>
        <div app-card-title>Total por categoria</div>
      </div>
      <div app-multi-card-body>
        <div app-table>
          <table>
            <thead>
              <tr>
                <th>Mês</th>
                <th>Total</th>
                <th>Quantidade de Itens</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listDespesasPorCategoria">
                <td>{{ item.categoria }}</td>
                <td>{{ item.total| currency:'BRL' }}</td>
                <td>{{item.quantidadeDeItens}}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="listDespesasPorCategoria.length == 0">
              <tr>
                <td colspan="2">
                  <div dados-nao-encontrados>Nenhuma informação encontrada</div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <div app-multi-card>
      <div app-multi-card-header>
        <div app-card-title>{{relatorioGastosDoGrupo.grupoFaturaNome}}</div>
      </div>
      <div app-multi-card-body>
        <div class="expense-item">
          <div class="expense-title">Total Moradia</div>
          <div class="expense-value no-button-whats">
            {{ relatorioGastosDoGrupo.totalGastosMoradia | currency:'BRL' }}
          </div>
        </div>
        <div class="expense-item">
          <div class="expense-title">Total Casa</div>
          <div class="expense-value no-button-whats">
            {{ relatorioGastosDoGrupo.totalGastosCasa | currency:'BRL' }}
          </div>
        </div>
        <div class="expense-item">
          <div class="expense-title">Total Casa + Moradia</div>
          <div class="expense-value no-button-whats">
            {{ relatorioGastosDoGrupo.totalGeral | currency:'BRL' }}
          </div>
        </div>
      </div>
    </div>

    <button
      id="scrollToggle"
      class="scroll-toggle-button"
      (click)="toggleScroll()"
    >
      <mat-icon>{{ scrollIcon }}</mat-icon>
    </button>
  </div>

  <ng-template #semDados>
    <div dados-nao-encontrados>Nenhuma informação encontrada</div>
  </ng-template>
</div>
