:host {
  [navbar] {
    position: fixed;
    width: 100%;
    background-color: #673ab7;
    color: white;
    display: flex;
    align-items: center;
    z-index: 5;

    & [title] {
      margin-left: 73px;
      flex-grow: 1;
    }

    &[navbar] .logout-icon {
      position: relative;
    }

    [selected-group] {
      display: flex;
      justify-content: space-between;
      width: 400px;

      .select-grupo-fatura {
        width: 256px;
      }
      .select-ano {
        width: 136px;
      }
      ::ng-deep {
        .mat-mdc-form-field {
          width: 100%;
        }

        .mat-mdc-form-field .mat-mdc-text-field-wrapper {
          border-radius: 12px;
        }
        .mat-mdc-form-field-bottom-align::before {
          display: inline;
        }

        .mdc-text-field--filled {
          height: 40px !important;
        }

        .mat-mdc-form-field-infix {
          padding-top: 9px;
        }

        .select-ano {
          .mat-mdc-form-field-icon-prefix {
            padding: 3px 4px 16px 0px;
          }
        }
      }

      mat-icon.icon-help {
        color: #fff;
        pointer-events: auto;
      }

      .text-color {
        color: #000000de;
        margin-left: 16px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    [navbar] {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: -46px;

      [title] {
        margin-left: 2%;
        flex-grow: 1;
        display: none;
      }

      &.navbar .logout-icon {
        display: flex;
        justify-content: end;
      }

      [selected-group] {
        width: 100%;

        .select-grupo-fatura {
          width: 50%;
          margin-left: 5px;
        }

        .select-ano {
          width: 130px;
        }

        ::ng-deep {
          .mdc-text-field--filled {
            height: 34px !important;
          }

          .mat-mdc-form-field .mat-mdc-text-field-wrapper {
            border-radius: 5px;
          }

          .mat-mdc-form-field-infix {
            padding-top: 7px;
            padding-bottom: 7px;
          }

          .select-ano {
            .mat-mdc-form-field-icon-prefix {
              padding: 3px 4px 20px 0px;
            }
          }
        }

        mat-icon.icon-help {
          color: #fff;
          pointer-events: auto;
        }

        .text-color {
          color: #000000de;
          margin-left: 16px;
        }
      }
    }
  }
}
