<div despesa-list-all-group table-custom input-select-custom>
  <div class="card">
    <div class="card-header">
      <div filtro>
        <mat-form-field appearance="outline">
          <mat-label class="filter-label">Filtrar por:</mat-label>
          <mat-select
            [(ngModel)]="tipoFiltro"
            (selectionChange)="aoSelecionarFiltro()"
          >
            <mat-option
              *ngFor="let tipo of listTipoFiltro"
              [value]="tipo.value"
            >
              {{ tipo.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div input-filtrar>
          <mat-form-field appearance="outline">
            <mat-label>Buscar</mat-label>
            <input
              matInput
              placeholder="Buscar por {{ tipoFiltro }}..."
              [(ngModel)]="filtro"
              (input)="aplicarFiltro(filtro)"
            />
            <i
              style="border: none; background-color: transparent"
              mat-icon-button
              matSuffix
              aria-label="Search button for search input"
            >
              <mat-icon>search</mat-icon>
            </i>
          </mat-form-field>
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Grupo de Despesa</th>
          <th>Item</th>
          <th>Categoria</th>
          <th>Fornecedor</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Total</th>
          <th>Data da compra</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let despesa of despesasFiltradas">
          <td>{{ despesa.grupoDespesa.nome }}</td>
          <td>{{ despesa.item }}</td>
          <td>{{ despesa.categoria.descricao }}</td>
          <td>{{ despesa.fornecedor }}</td>
          <td>{{ despesa.preco | currency : "BRL" }}</td>
          <td>{{ despesa.quantidade }}</td>
          <td>{{ despesa.total | currency : "BRL" }}</td>
          <td>{{ despesa.dataCompra }}</td>
        </tr>
      </tbody>
      <tfoot *ngIf="despesasFiltradas?.length == 0">
        <tr>
          <td colspan="8">
            <h2>Nenhuma despesa encontrada</h2>
          </td>
        </tr>
      </tfoot>
    </table>

    <div pagination>
      <mat-paginator
        #paginator
        class="demo-paginator"
        (page)="mudarPagina($event)"
        [length]="page.totalItens"
        [pageSize]="page.itensPorPagina"
        [pageSizeOptions]="tamanhosDePagina"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
