:host {
  [categoria-list] {
    table {
      width: 100%;
      table-layout: fixed;

      th,
      td {
        text-align: center;
        vertical-align: middle;
        border: 1px solid #e0e0e0;
      }

      th {
        background-color: #f7f7f7;
        padding: 12px;

        mat-icon.icon-help {
          height: 16px;
          width: 14px;
          font-size: 14px;
        }
      }

      td {
        color: #708090;
        padding: 3px;
      }

      input[type="text"] {
        border: none;
        outline: none;
        width: 90%;
        background-color: transparent;
        text-align: center;
        font-size: 15px;
        color: #708090;
        border-bottom: 1px solid #d3d3d3;
      }

      [space] {
        margin-left: 40px;
      }
    }
  }
}
