<div header-model>
  <h2>Adicionar Despesa</h2>
</div>

<div modal-content>
  <form
    [formGroup]="despesaForm"
    (ngSubmit)="onSubmit()"
    (keyup.enter)="onSubmit()"
    form-custom
  >
    <mat-form-field appearance="fill">
      <mat-label>Selecione uma categoria</mat-label>
      <mat-select formControlName="categoriaId" required>
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.descricao }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="vendaValidator['categoriaId'].hasError('required')">
        Por favor, escolha uma categoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Item</mat-label>
      <input
        matInput
        id="item"
        formControlName="item"
        [ngClass]="{
          'is-invalid':
            vendaValidator.item.errors && vendaValidator.item.touched
        }"
      />

      <mat-error *ngIf="vendaValidator['item'].hasError('required')">
        Item é obrigatório.
      </mat-error>
      <mat-error *ngIf="vendaValidator['item'].hasError('minlength')">
        Item deve ter no mínimo 4 caracteres.
      </mat-error>
      <mat-error *ngIf="vendaValidator['item'].hasError('maxlength')">
        Item deve ter no máximo 80 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Preço</mat-label>
      <input
        matInput
        type="text"
        formControlName="preco"
        currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        [ngClass]="{
          'is-invalid':
            vendaValidator.preco.errors && vendaValidator.preco.touched
        }"
      />

      <mat-error *ngIf="vendaValidator['preco'].hasError('required')">
        Preço é obrigatório.
      </mat-error>
      <mat-error *ngIf="vendaValidator['preco'].hasError('min')">
        Preço não pode ser menor que R$ 0,01.
      </mat-error>
      <mat-error *ngIf="vendaValidator['preco'].hasError('max')">
        Preço não pode ser maior que R$ 999.999,99.
      </mat-error>
      <mat-error *ngIf="vendaValidator['preco'].hasError('pattern')">
        Preço não é válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Quantidade</mat-label>
      <input
        matInput
        type="number"
        formControlName="quantidade"
        [ngClass]="{
          'is-invalid':
            vendaValidator.quantidade.errors &&
            vendaValidator.quantidade.touched
        }"
      />

      <mat-error *ngIf="vendaValidator['quantidade'].hasError('required')">
        Quantidade é obrigatória.
      </mat-error>
      <mat-error *ngIf="vendaValidator['quantidade'].hasError('pattern')">
        Quantidade não é válida.
      </mat-error>
      <mat-error *ngIf="vendaValidator['quantidade'].hasError('min')">
        Quantidade não pode ser menor que 1.
      </mat-error>
      <mat-error *ngIf="vendaValidator['quantidade'].hasError('max')">
        Quantidade não pode ser maior que 99999.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fornecedor</mat-label>
      <input
        matInput
        formControlName="fornecedor"
        [ngClass]="{
          'is-invalid':
            vendaValidator.fornecedor.errors &&
            vendaValidator.fornecedor.touched
        }"
      />
      <mat-error *ngIf="vendaValidator['fornecedor'].hasError('required')">
        Fornecedor é obrigatório.
      </mat-error>
      <mat-error *ngIf="vendaValidator['fornecedor'].hasError('minlength')">
        Fornecedor deve ter no mínimo 4 caracteres.
      </mat-error>
      <mat-error *ngIf="vendaValidator['fornecedor'].hasError('maxlength')">
        Fornecedor deve ter no máximo 80 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Data da Compra</mat-label>
      <input
        matInput
        formControlName="dataCompra"
        [ngClass]="{
          'is-invalid':
            vendaValidator.dataCompra.errors &&
            vendaValidator.dataCompra.touched
        }"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="vendaValidator.dataCompra.hasError('required')">
        Data da compra é obrigatória.
      </mat-error>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button color="primary" (click)="onClose()">
        Cancelar
      </button>

      <button mat-flat-button color="primary" [disabled]="!despesaForm.valid">
        Salvar
      </button>
    </div>
  </form>
</div>
