<div header-model>
  <h2>Adicionar Despesa</h2>
</div>

<div modal-content>
  <form [formGroup]="despesaForm" (ngSubmit)="onSubmit()" form-custom>
    <mat-form-field appearance="fill">
      <mat-label>Selecione um Grupo</mat-label>
      <mat-select formControlName="grupoDespesaId">
        <mat-option
          *ngFor="let grupoDespesa of grupoDespesas"
          [value]="grupoDespesa.id"
        >
          {{ grupoDespesa.nome }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="despesaValidator['categoriaId'].hasError('required')">
        Por favor, escolha uma categoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Selecione uma categoria</mat-label>
      <mat-select
        formControlName="categoriaId"
        (selectionChange)="getCategoriaSelected($event.value)"
      >
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.descricao }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="despesaValidator['categoriaId'].hasError('required')">
        Por favor, escolha uma categoria.
      </mat-error>
    </mat-form-field>

    <ng-container
      *ngIf="categoriaSelecionada === 'Aluguel'; else selectedCondominio"
    >
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Item</mat-label>
        <mat-select formControlName="item">
          <mat-option [value]="'Caixa'">Parcela Caixa</mat-option>
          <mat-option [value]="'Ap Ponto'">Parcela Ap Ponto</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <ng-template #selectedCondominio>
      <ng-container
        *ngIf="categoriaSelecionada === 'Condomínio'; else inputItem"
      >
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Item</mat-label>
          <input matInput id="item" formControlName="item" readonly />
        </mat-form-field>
      </ng-container>
    </ng-template>

    <ng-template #inputItem>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Item</mat-label>
        <input
          matInput
          id="item"
          formControlName="item"
          [ngClass]="{
        'is-invalid': despesaValidator.item.errors && despesaValidator.item.touched
      }"
        />

        <mat-error *ngIf="despesaValidator['item'].hasError('required')">
          Item é obrigatório.
        </mat-error>
        <mat-error *ngIf="despesaValidator['item'].hasError('minlength')">
          Item deve ter no mínimo 4 caracteres.
        </mat-error>
        <mat-error *ngIf="despesaValidator['item'].hasError('maxlength')">
          Item deve ter no máximo 80 caracteres.
        </mat-error>
      </mat-form-field>
    </ng-template>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Preço</mat-label>
      <input
        matInput
        type="text"
        formControlName="preco"
        currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        [ngClass]="{
          'is-invalid':
            despesaValidator.preco.errors && despesaValidator.preco.touched
        }"
        placeholder="R$ 1,00"
      />

      <mat-error *ngIf="despesaValidator['preco'].hasError('required')">
        Preço é obrigatório.
      </mat-error>
      <mat-error *ngIf="despesaValidator['preco'].hasError('min')">
        Preço não pode ser menor que R$ 0,01.
      </mat-error>
      <mat-error *ngIf="despesaValidator['preco'].hasError('max')">
        Preço não pode ser maior que R$ 999.999,99.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Quantidade</mat-label>
      <input
        matInput
        type="number"
        formControlName="quantidade"
        [ngClass]="{
          'is-invalid':
            despesaValidator.quantidade.errors &&
            despesaValidator.quantidade.touched
        }"
      />

      <mat-error *ngIf="despesaValidator['quantidade'].hasError('required')">
        Quantidade é obrigatória.
      </mat-error>
      <mat-error *ngIf="despesaValidator['quantidade'].hasError('pattern')">
        Quantidade não é válida.
      </mat-error>
      <mat-error *ngIf="despesaValidator['quantidade'].hasError('min')">
        Quantidade não pode ser menor que 1.
      </mat-error>
      <mat-error *ngIf="despesaValidator['quantidade'].hasError('max')">
        Quantidade não pode ser maior que 99999.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fornecedor</mat-label>
      <input
        matInput
        formControlName="fornecedor"
        [ngClass]="{
          'is-invalid':
            despesaValidator.fornecedor.errors &&
            despesaValidator.fornecedor.touched
        }"
      />
      <mat-error *ngIf="despesaValidator['fornecedor'].hasError('required')">
        Fornecedor é obrigatório.
      </mat-error>
      <mat-error *ngIf="despesaValidator['fornecedor'].hasError('minlength')">
        Fornecedor deve ter no mínimo 4 caracteres.
      </mat-error>
      <mat-error *ngIf="despesaValidator['fornecedor'].hasError('maxlength')">
        Fornecedor deve ter no máximo 80 caracteres.
      </mat-error>
    </mat-form-field>

    <div class="form-actions">
      <button type="button" mat-raised-button color="warn" (click)="onClose()">
        Cancelar
      </button>

      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!despesaForm.valid"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
