:host {
  [app-modal] {
    [app-modal-body] {
      .form-two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        input {
          text-align: left !important;
        }

        .buttons-full-width {
          grid-column: span 2;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .form-two-columns {
      grid-template-columns: 1fr;
    }
  }
}
