:host {
  [portal-content-app] {
    transition: margin-left 0.5s, width 0.5s;
    padding: 56px 6px 56px 82px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
  }

  @media screen and (max-width: 600px) {
    [portal-content-app] {
      flex-shrink: 0;
      margin: 0px;
      width: 100%;
      padding: 56px 0px 56px 0px;
    }
  }
}
