<app-modal
  [textTitle]="'Editar Grupo de Fatura'"
  [textConfirmButton]="'Salvar'"
  [textCancelButton]="'Cancelar'"
  [formClass]="'form-one-colum'"
  (confirmClick)="onSave()"
  (cancelClick)="onCancel()"
>
  <mat-form-field appearance="outline">
    <mat-label>Nome do Grupo (Mês)</mat-label>
    <mat-select [(ngModel)]="grupoFatura.nome">
      <mat-option *ngFor="let mes of meses" [value]="mes.viewValue">
        {{ mes.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</app-modal>
