:host {
  [despesa-view] {
    .card {
      width: 100%;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 15px;
      box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);

      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        & input[type="text"] {
          width: 100%;
          padding: 12px 20px;
          border: 1px solid #ccc;
          border-radius: 7px;
          box-sizing: border-box;

          &:focus {
            outline: none;
            border: 1px solid #ddd;
          }
        }

        [input-buscar] {
          width: 100%;

          ::ng-deep {
            mat-form-field {
              width: 100%;
            }
            .mat-mdc-form-field .mat-mdc-text-field-wrapper {
              max-width: 100%;
              border-radius: 10px;
            }

            .mat-mdc-form-field-bottom-align::before {
              display: none;
            }

            .mdc-text-field--filled:not(.mdc-text-field--disabled)
              .mdc-line-ripple::before {
              border-bottom-color: #673ab7;
            }
          }

          .mat-icon {
            width: 40px;
          }
        }
      }

      table {
        width: 100%;
        table-layout: fixed;

        th,
        td {
          text-align: center;
          vertical-align: middle;
          border: 1px solid #e0e0e0;
        }

        th {
          background-color: #f7f7f7;
          padding: 12px;
        }

        td {
          color: #708090;
          padding: 3px;
        }

        & input[type="text"] {
          border: none;
          outline: none;
          width: 90%;
          background-color: transparent;
          text-align: center;
          font-size: 15px;
          color: #708090;
          border-bottom: 1px solid #d3d3d3;
        }

        [space] {
          margin-left: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    [despesa-view] {
      .card {
        table {
          width: 100%;
          overflow-x: auto;
          display: block;

          th,
          td {
            padding: 6px 6px;
            font-size: 14px;
            min-width: 100px;
          }

          [space] {
            margin: 20;
          }
        }

        .mat-paginator {
          font-size: 12px;
        }
        ::ng-deep {
          .mat-mdc-paginator-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0px;
            flex-wrap: nowrap;
            width: 100%;
          }

          .mat-mdc-paginator-page-size-label,
          .mat-mdc-paginator-range-label {
            margin: 0px;
            white-space: nowrap;
          }

          .mat-mdc-paginator-page-size-select {
            margin: 0px;
            width: 65px;
          }

          .mat-mdc-paginator-page-size {
            margin-right: 0px;
          }

          .mat-mdc-select-trigger {
            width: auto;
          }
          .mat-mdc-form-field .mat-mdc-text-field-wrapper {
            max-width: 90%;
          }
        }
      }
    }
  }
}
