:host {
  [app-modal-body] {
    .buttons {
      display: flex;
      justify-content: space-between;
    }

    .dialog-content-custom {
      padding: 0px;
      padding-top: 5px;
    }

    .form-two-columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .form-one-columns {
      ::ng-deep {
        mat-form-field {
          width: 100%;
          margin-bottom: 12px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .form-two-columns {
      grid-template-columns: 1fr;
    }
  }
}
