<div membro-view>
  <table>
    <thead>
      <th>Membro</th>
      <th>Telefone</th>
      <th>Opções</th>
    </thead>
    <tbody>
      <tr *ngFor="let membro of membros">
        <td>
          <div *ngIf="membro.isEditing; else viewNome">
            <input
              type="text"
              [(ngModel)]="membro.nome"
              (keyup.enter)="updateMembro(membro.id, membro)"
            />
          </div>
          <ng-template #viewNome>{{ membro.nome }}</ng-template>
        </td>
        <td>
          <div *ngIf="membro.isEditing; else viewTelefone">
            <input
              type="text"
              [(ngModel)]="membro.telefone"
              (keyup.enter)="updateMembro(membro.id, membro)"
            />
          </div>
          <ng-template #viewTelefone>{{ membro.telefone }}</ng-template>
        </td>
        <td>
          <i>
            <mat-icon (click)="openEdit(membro)">edit</mat-icon>
          </i>
          <i space>
            <mat-icon (click)="confirmDelete(membro.id)">delete</mat-icon>
          </i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
