:host {
  [home-content-app] {
    transition: margin-left 0.5s, width 0.5s;
    padding: 53px 4px 56px 65px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
  }

  @media screen and (max-width: 600px) {
    [home-content-app] {
      flex-shrink: 0;
      margin: 0px;
      width: 100%;
      padding: 56px 5px 56px 5px;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: -46px;

      [title] {
        margin-left: 2%;
        flex-grow: 1;
        display: none;
      }

      &.navbar .logout-icon {
        display: flex;
        justify-content: end;
      }

      [selected-group] {
        width: 100%;

        .select-grupo-fatura {
          width: 50%;
          margin-left: 5px;
        }

        .select-ano {
          width: 130px;
        }

        ::ng-deep {
          .mdc-text-field--filled {
            height: 34px !important;
          }

          .mat-mdc-form-field .mat-mdc-text-field-wrapper {
            border-radius: 5px;
          }

          .mat-mdc-form-field-infix {
            padding-top: 7px;
            padding-bottom: 7px;
          }

          .select-ano {
            .mat-mdc-form-field-icon-prefix {
              padding: 3px 4px 20px 0px;
            }
          }
        }

        mat-icon.icon-help {
          color: #fff;
          pointer-events: auto;
        }

        .text-color {
          color: #000000de;
          margin-left: 16px;
        }
      }
    }
  }
}
