<div app-modal>
  <div app-modal-header>
    <h2>Adicionar cobranca</h2>
    <mat-icon class="close" (click)="onClose()">close</mat-icon>
  </div>

  <div app-modal-body app-input-color>
    <form [formGroup]="cobrancaForm" (ngSubmit)="onSubmit()" form-custom>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Item</mat-label>
        <input
          matInput
          formControlName="nome"
          [ngClass]="{
            'is-invalid':
              cobrancaValidator.nome.errors && cobrancaValidator.nome.touched
          }"
        />
        <mat-error *ngIf="cobrancaValidator['nome'].hasError('required')">
          Item é obrigatório.
        </mat-error>
        <mat-error *ngIf="cobrancaValidator['nome'].hasError('minlength')">
          Item deve ter no mínimo 3 caracteres.
        </mat-error>
        <mat-error *ngIf="cobrancaValidator['nome'].hasError('maxlength')">
          Item deve ter no máximo 50 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Parcela</mat-label>
        <input
          matInput
          formControlName="parcelas"
          [ngClass]="{
            'is-invalid':
              cobrancaValidator.parcelas.errors &&
              cobrancaValidator.parcelas.touched
          }"
        />
        <mat-error *ngIf="cobrancaValidator['parcelas'].hasError('required')">
          Parcela é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Valor</mat-label>
        <input
          matInput
          formControlName="valorTotal"
          currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          [ngClass]="{
            'is-invalid':
              cobrancaValidator.valorTotal.errors &&
              cobrancaValidator.valorTotal.touched
          }"
        />
        <mat-error *ngIf="cobrancaValidator['valorTotal'].hasError('required')">
          Valor é obrigatório.
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onClose()"
        >
          Cancelar
        </button>

        <button
          mat-flat-button
          color="primary"
          [disabled]="!cobrancaForm.valid"
          type="submit"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>
