<div card-descricao-totais>
  <div modal-descricao-cores-valores>
    <mat-card class="legend-card">
      <mat-card-header>
        <mat-card-title>Total Casa</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table *ngIf="getMetrica(enumTipoMetricas[0]) as metricaCasa">
          <tr>
            <td><span class="color-box default"></span></td>
            <td>Abaixo de</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaCasa.limiteAmarelo"
              />
            </td>
          </tr>
          <tr>
            <td><span class="color-box red"></span></td>
            <td>Acima de</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaCasa.limiteVermelho"
              />
            </td>
          </tr>
          <tr>
            <td><span class="color-box yellow"></span></td>
            <td>Entre</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaCasa.limiteAmarelo"
              />
            </td>
            <td>e</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaCasa.limiteVermelho"
              />
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>

    <mat-card class="legend-card">
      <mat-card-header>
        <mat-card-title>Total Moradia</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table *ngIf="getMetrica(enumTipoMetricas[1]) as metricaMoradia">
          <tr>
            <td><span class="color-box default"></span></td>
            <td>Abaixo de</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaMoradia.limiteAmarelo"
              />
            </td>
          </tr>
          <tr>
            <td><span class="color-box red"></span></td>
            <td>Acima de</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaMoradia.limiteVermelho"
              />
            </td>
          </tr>
          <tr>
            <td><span class="color-box yellow"></span></td>
            <td>Entre</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaMoradia.limiteAmarelo"
              />
            </td>
            <td>e</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaMoradia.limiteVermelho"
              />
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>

    <mat-card class="legend-card">
      <mat-card-header>
        <mat-card-title>Total Geral</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table *ngIf="getMetrica(enumTipoMetricas[2]) as metricaGeral">
          <tr>
            <td><span class="color-box default"></span></td>
            <td>Abaixo de</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaGeral.limiteAmarelo"
              />
            </td>
          </tr>
          <tr>
            <td><span class="color-box red"></span></td>
            <td>Acima de</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaGeral.limiteVermelho"
              />
            </td>
          </tr>
          <tr>
            <td><span class="color-box yellow"></span></td>
            <td>Entre</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaGeral.limiteAmarelo"
              />
            </td>
            <td>e</td>
            <td>
              <input
                type="text"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
                [(ngModel)]="metricaGeral.limiteVermelho"
              />
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <button
    class="button-save"
    mat-flat-button
    color="primary"
    (click)="salvarMetricas()"
    type="submit"
  >
    Salvar
  </button>
</div>
