<div class="legend-container">
  <mat-card class="legend-card">
    <mat-card-header>
      <mat-card-title>Total Moradia</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="legend-item">
        <span class="color-box red"></span>(Acima de R$ 2900)
      </div>
      <div class="legend-item">
        <span class="color-box yellow"></span>(Entre R$ 2610 e R$ 2900)
      </div>
      <div class="legend-item">
        <span class="color-box purple"></span>(Abaixo de R$ 2610)
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="legend-card">
    <mat-card-header>
      <mat-card-title>Total Casa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="legend-item">
        <span class="color-box red"></span>(Acima de R$ 3600)
      </div>
      <div class="legend-item">
        <span class="color-box yellow"></span>(Entre R$ 3240 e R$ 3600)
      </div>
      <div class="legend-item">
        <span class="color-box purple"></span>(Abaixo de R$ 3240)
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="legend-card">
    <mat-card-header>
      <mat-card-title>Total Geral</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="legend-item">
        <span class="color-box red"></span>(Acima de R$ 5700)
      </div>
      <div class="legend-item">
        <span class="color-box yellow"></span>(Entre R$ 5130 e R$ 5700)
      </div>
      <div class="legend-item">
        <span class="color-box purple"></span>(Abaixo de R$ 5130)
      </div>
    </mat-card-content>
  </mat-card>
</div>
