:host {
  [navbar] {
    position: fixed;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    z-index: 1000;
    padding: 5px;
    justify-content: start;
    height: 40px;
    border-bottom: solid 2px #ffffff;

    [itens-nav] {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-left: 60px;

      [selected-group] {
        display: flex;
        justify-content: space-between;
        width: 400px;

        .select-grupo-fatura {
          width: 256px;
          margin-right: 10px;
        }

        .select-ano {
          width: 139px;
          color: rgba(0, 0, 0, 0.87);
        }

        ::ng-deep {
          --mdc-outlined-text-field-outline-color: #f5f5f5;
          --mdc-outlined-text-field-hover-outline-color: #f5f5f5;
          --mdc-outlined-text-field-focus-outline-color: #f5f5f5;

          .mat-mdc-form-field {
            width: 100%;
          }
          .mat-mdc-form-field-subscript-wrapper {
            width: 0px;
          }

          .mat-mdc-menu-content,
          .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
            margin-top: 12px;
          }

          .mat-mdc-form-field-bottom-align::before {
            display: inline;
          }

          .mdc-text-field--outlined {
            height: 40px;
          }

          .mat-mdc-text-field-wrapper.mdc-text-field--outlined
            .mat-mdc-form-field-infix {
            padding-top: 9px;
          }

          .select-ano {
            .mat-mdc-form-field-icon-prefix {
              padding: 3px 6px 18px 0px;
            }
          }
        }

        mat-icon.icon-help {
          color: #fff !important;
          pointer-events: auto;
        }

        .text-color {
          color: #000;
          margin-left: 16px;
        }
      }

      [actions] {
        display: flex;
        justify-content: end;
        width: 100%;

        [actions-icons] {
          width: 81px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          [logout-icon] {
            margin-right: 15px;
          }
        }
      }

      .ocultar-selected-group {
        display: none;
      }
    }
    & [title] {
      margin-left: 65px;
      white-space: nowrap;
    }
  }

  @media screen and (max-width: 600px) {
    [navbar] {
      width: 100%;
      margin-left: 0px;

      [itens-nav] {
        margin-left: 60px;
        
        [selected-group] {
          width: 60%;
          display: flex;
          justify-content: space-between;
          margin-right: 0px;

          .select-grupo-fatura {
            width: 50%;
          }

          .select-ano {
            width: 130px;
          }

          ::ng-deep {
            .mdc-text-field--filled {
              height: 34px !important;
            }

            .mat-mdc-form-field .mat-mdc-text-field-wrapper {
              border-radius: 5px;
            }

            .mat-mdc-form-field-infix {
              padding-top: 7px;
              padding-bottom: 7px;
            }

            .select-ano {
              .mat-mdc-form-field-icon-prefix {
                padding: 3px 4px 20px 0px;
              }
            }
          }

          mat-icon.icon-help {
            color: #fff !important;
            pointer-events: auto;
          }

          .text-color {
            color: #000000de;
            margin-left: 16px;
          }
        }

        [logout-icon] {
          display: flex;
          margin-left: 15px;
        }

        [opcoes] {
          .icon-temas {
            margin-left: 12px;
          }
        }
      }
    }
  }
}

::ng-deep {
  div.mat-mdc-select-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform-origin: top center;
    margin-top: 4px;
  }

  .cdk-overlay-container {
    .cdk-overlay-connected-position-bounding-box {
      .cdk-overlay-pane {
        .mat-mdc-menu-panel {
          min-width: 200px;
          min-height: 100px;
        }
      }
    }
  }

  .mdc-form-field > label {
    width: 100%;
  }

  .mat-mdc-menu-content {
    [mat-radio-custom] {
      [descricao-tema] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        span.theme-icon {
          display: flex;

          img {
            margin-right: 10px;
            width: 20px;
            height: 20px;
          }
        }
      }

      .mat-accent {
        display: flex !important;
        flex-direction: column !important;
      }

      .mdc-form-field {
        color: #708090;
      }

      .mdc-radio__background::before {
        background-color: #ffffff00;
      }

      .azul {
        --mdc-radio-selected-icon-color: #007bff;
        --mdc-radio-selected-hover-icon-color: #007bff;
        --mdc-radio-selected-pressed-icon-color: #007bff;
        --mat-radio-checked-ripple-color: #007bff;
      }

      .roxo {
        --mdc-radio-selected-icon-color: #673ab7;
        --mdc-radio-selected-hover-icon-color: #673ab7;
        --mdc-radio-selected-pressed-icon-color: #673ab7;
        --mat-radio-checked-ripple-color: #673ab7;
      }

      .black {
        --mdc-radio-selected-icon-color: #2c2c2c;
        --mdc-radio-selected-hover-icon-color: #2c2c2c;
        --mdc-radio-selected-pressed-icon-color: #2c2c2c;
        --mat-radio-checked-ripple-color: #2c2c2c;
      }
    }
  }

  .mat-mdc-menu-panel {
    margin-top: 13px;
  }

  .ano-select-panel {
    padding: 0px !important;
  }

  .grupo-fatura-select-panel {
    padding: 0px !important;
    min-width: 255px !important;

    &.create-despesa {
      width: 80% !important;
    }

    &.create-fatura {
      width: 60% !important;
    }
  }
}
