<div app-multi-card-header>
  <h2 app-card-title>Total por categoria</h2>
</div>
<div app-multi-card-body>
  <div app-table>
    <table>
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Quantidade de Itens</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCategorias">
          <td>{{ item.descricao }}</td>
          <td>{{ item.quantidadeDeItens }}</td>
          <td>{{ item.total | currency : "BRL" }}</td>
        </tr>
      </tbody>
      <tfoot *ngIf="listCategorias.length == 0">
        <tr>
          <td colspan="3">
            <div dados-nao-encontrados>Nenhuma informação encontrada</div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<ng-template #semDados>
  <div dados-nao-encontrados>Nenhuma informação encontrada</div>
</ng-template>
