:host {
  [app-multi-card-body] {
    table {
      th,
      td {
        padding: 10px;
        text-align: center;
      }

      th {
        font-size: 14px;
      }

      tfoot tr td {
        text-align: center;
      }

      tr:last-child td {
        border-bottom: none;
      }
    }
  }

  @media screen and (max-width: 600px) {
    [app-multi-card-body] {
      [app-table] {
        table {
          display: inline-table;
        }
      }
    }
  }
}
