<div grupoFatura-list-by-group>
  <div app-table app-table-icons-options>
    <table>
      <thead>
        <th>Grupo de Fatura</th>
        <th>Status da Fatura</th>
        <th>Quantidade de Itens</th>
        <th>Total de Despesas</th>
        <th>Opções</th>
      </thead>
      <tbody>
        <tr
          *ngFor="let grupoFatura of grupoFaturas"
          (keyup.enter)="updategrupoFatura(grupoFatura.id, grupoFatura)"
        >
          <td>
            <div *ngIf="grupoFatura.isEditing; else viewNome">
              <span matPrefix>Fatura de&nbsp;</span>
              <input type="text" [(ngModel)]="grupoFatura.nomeEditavel" />
            </div>
            <ng-template #viewNome>{{ grupoFatura.nome }}</ng-template>
          </td>
          <td>
            {{ setStatusFatura(grupoFatura.statusFaturas) }}
          </td>
          <td>
            {{ grupoFatura.quantidadeDespesas }}
          </td>
          <td>
            {{ grupoFatura.totalDespesas | currency : "BRL" }}
          </td>
          <td>
            <i *ngIf="!grupoFatura.isEditing; else saveEdicao">
              <mat-icon
                (click)="openEdit(grupoFatura)"
                [class.disable-options]="isEditing"
                >edit</mat-icon
              >
            </i>

            <ng-template #saveEdicao>
              <mat-icon (click)="updategrupoFatura(grupoFatura.id, grupoFatura)"
                >save</mat-icon
              >
              <mat-icon space (click)="cancelEdit(grupoFatura)"
                >cancel</mat-icon
              >
              <!-- Ícone de cancelar -->
            </ng-template>

            <i space *ngIf="!grupoFatura.isEditing">
              <mat-icon
                (click)="confirmDelete(grupoFatura.id)"
                [class.disable-options]="isEditing"
                >delete</mat-icon
              >
            </i>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="grupoFaturas.length == 0">
        <tr>
          <td colspan="2">
            <div dados-nao-encontrados>Nenhum grupo encontrado</div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
