<div despesa-view>
  <div class="card">
    <div class="card-header">
      <div input-buscar>
        <mat-form-field appearance="fill">
          <mat-label>Buscar</mat-label>
          <input
            matInput
            placeholder="Buscar por item..."
            [(ngModel)]="filtroTexto"
            (input)="filtrarDespesas()"
          />
          <i
            style="border: none; background-color: transparent"
            mat-icon-button
            matSuffix
            aria-label="Search button for search input"
          >
            <mat-icon>search</mat-icon>
          </i>
        </mat-form-field>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Item</th>
          <th>Categoria</th>
          <th>Fornecedor</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Total</th>
          <th>Data da compra</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let despesa of despesasFiltradas"
          (keyup.enter)="updateDespesa(despesa.id, despesa)"
        >
          <td>{{ despesa.id }}</td>
          <td>
            <div *ngIf="despesa.isEditing; else viewItem">
              <ng-container
                *ngIf="
                  despesa.categoria.descricao === 'Aluguel';
                  else inputCondominio
                "
              >
                <mat-select [(ngModel)]="despesa.item">
                  <mat-option [value]="'Parcela Caixa'"
                    >Parcela Caixa</mat-option
                  >
                  <mat-option [value]="'Parcela Ap Ponto'"
                    >Parcela Ap Ponto</mat-option
                  >
                </mat-select>
              </ng-container>
              <ng-template #inputCondominio>
                <input
                  type="text"
                  [(ngModel)]="despesa.item"
                  [readonly]="despesa.categoria.descricao === 'Condomínio'"
                />
              </ng-template>
            </div>

            <ng-template #viewItem>{{ despesa.item }}</ng-template>
          </td>
          <td>
            <div *ngIf="despesa.isEditing; else viewCategoria">
              <mat-select
                [(ngModel)]="despesa.categoria.id"
                (ngModelChange)="tableEditManipulation.onCategoriaChange(categorias, despesa, $event)"
              >
                <mat-option
                  *ngFor="let categoria of categorias"
                  [value]="categoria.id"
                >
                  {{ categoria.descricao }}
                </mat-option>
              </mat-select>
            </div>
            <ng-template #viewCategoria>{{
              despesa.categoria.descricao
            }}</ng-template>
          </td>

          <td>
            <div *ngIf="despesa.isEditing; else viewFornecedor">
              <input type="text" [(ngModel)]="despesa.fornecedor" />
            </div>
            <ng-template #viewFornecedor>{{ despesa.fornecedor }}</ng-template>
          </td>
          <td>
            <div *ngIf="despesa.isEditing; else viewPreco">
              <input type="text" [(ngModel)]="despesa.preco" />
            </div>
            <ng-template #viewPreco>{{
              despesa.preco | currency : "BRL"
            }}</ng-template>
          </td>
          <td>
            <div *ngIf="despesa.isEditing; else viewQuantidade">
              <input type="text" [(ngModel)]="despesa.quantidade" />
            </div>
            <ng-template #viewQuantidade>{{ despesa.quantidade }}</ng-template>
          </td>
          <td>{{ despesa.total | currency : "BRL" }}</td>
          <td>{{ despesa.dataCompra }}</td>
          <td>
            <i *ngIf="!despesa.isEditing; else saveEdicao">
              <mat-icon (click)="openEdit(despesa)">edit</mat-icon>
            </i>

            <ng-template #saveEdicao>
              <mat-icon (click)="updateDespesa(despesa.id, despesa)"
                >save</mat-icon
              >
            </ng-template>

            <i space>
              <mat-icon (click)="confirmDelete(despesa.id)">delete</mat-icon>
            </i>
          </td>
        </tr>
      </tbody>
    </table>
    <div pagination>
      <mat-paginator
        #paginator
        class="demo-paginator"
        (page)="mudarPagina($event)"
        [length]="page.totalItens"
        [pageSize]="page.itensPorPagina"
        [pageSizeOptions]="tamanhosDePagina"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
