<div class="total-itens">
  <div class="total-value">
    <span>
      Casa:
      <strong
        [ngStyle]="
          getStyle(relatorioGastosDoGrupo.totalGastosCasa, enumTipoMetricas[0])
        "
      >
        {{ relatorioGastosDoGrupo.totalGastosCasa | currency : "BRL" }}
      </strong>
    </span>
    <span>
      Moradia:
      <strong
        [ngStyle]="
          getStyle(
            relatorioGastosDoGrupo.totalGastosMoradia,
            enumTipoMetricas[1]
          )
        "
      >
        {{ relatorioGastosDoGrupo.totalGastosMoradia | currency : "BRL" }}
      </strong>
    </span>
    <span>
      Total:
      <strong
        [ngStyle]="
          getStyle(relatorioGastosDoGrupo.totalGeral, enumTipoMetricas[2])
        "
      >
        {{ relatorioGastosDoGrupo.totalGeral | currency : "BRL" }}
      </strong>
    </span>
  </div>

  <button app-button-action (click)="openEditMetricasModal()">
    <div icon-bg>
      <mat-icon>attach_money</mat-icon>
    </div>

    <span title-button>Editar Métricas</span>
  </button>
</div>
