:host {
  table {
    width: 50%;
    border-collapse: collapse;
    table-layout: fixed;
    border: solid;
    margin: 20px;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    background-color: rgb(103, 58, 183);
    color: white;
  }

  @media (max-width: 768px) {
    table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      margin: 0px;
    }
  }
}
