:host {
  display: block;

  .table-finance-app {
    font-family: "Arial", sans-serif;

    .card {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 8px;
      margin-top: 53px;
      width: 99%;

      .card-header {
        background-color: #673ab7;
        color: white;
        padding: 16px;
        font-size: 20px;
        text-align: center;
      }

      .card-body {
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    h2 {
      text-align: center;
      width: 100%;
    }

    [alinhamento-table] {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    th,
    td {
      text-align: left;
      padding: 12px;
      border-bottom: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
    }

    th:last-child,
    td:last-child {
      border-right: none;
    }

    th {
      background-color: #f7f7f7;
    }

    @media (max-width: 768px) {
      .card {
        width: 95%;
        margin-bottom: 60px !important;
        .card-body {
          flex-direction: column;
        }
      }

      [alinhamento-table] {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
