:host {
  [card-container] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: stretch;
    margin: 56px 11px 70px 8px;

    .card {
      flex: 1 1 calc(50% - 20px);
      text-align: center;
      display: flex;
      flex-direction: column;

      .card-head {
        background-color: #673ab7;
        color: white;
        padding: 10px;
        font-size: 16px;
        text-align: center;
      }

      .card-body {
        padding: 0px;
        border: 1px solid #ccc;
      }

      .centralizar {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .expense-item {
        background-color: #fff;
        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #708090 !important;
      }

      .expense-title {
        font-size: 14px;
        color: #708090;
      }

      .expense-value {
        font-size: 18px;
        font-weight: bold;
        color: #673ab7;
      }
    }

    table {
      width: 100%;

      th,
      td {
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
      }

      th:last-child,
      td:last-child {
        border-right: none;
      }

      th {
        background-color: #f7f7f7;
      }

      td {
        color: #708090;
      }

      /*  .money {
        color: #673ab7;
      }
 */
      /*    .despesa-alta {
        color: red;
        font-weight: bold;
      }

      .despesa-baixa {
        color: #0fe400;
        font-weight: bold;
      } */
    }
  }

  @media screen and (max-width: 600px) {
    [card-container] .card {
      flex: 1 1 100%;
    }
  }
}
