<div class="table-finance-app">
  <div class="card">
    <div class="card-header">Relatório</div>
    <div class="card-body">
      <div alinhamento-table>
        <h2>Despesas Divididas por Membros</h2>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let despesa of despesasPorMembros">
              <td>{{ despesa.nome }}</td>
              <td>{{ despesa.valor | currency:'BRL' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div alinhamento-table>
        <h2>Total de Despesas por Mês</h2>
        <table>
          <thead>
            <tr>
              <th>Mês</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let despesa of despesasPorMembros">
              <td>{{ despesa.nome }}</td>
              <td>{{ despesa.valor | currency:'BRL' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div alinhamento-table>
        <h2>Total por categoria</h2>
        <table>
          <thead>
            <tr>
              <th>Mês</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let despesa of despesasPorMembros">
              <td>{{ despesa.nome }}</td>
              <td>{{ despesa.valor | currency:'BRL' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
