<div app-modal>
  <div app-modal-header>
    <h2>Adicionar Nova Fatura</h2>
  </div>

  <div app-modal-body>
    <form [formGroup]="grupoFaturaForm" (ngSubmit)="onSubmit()" form-custom>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mês da Fatura</mat-label>
        <span matPrefix>Fatura de</span>
        <mat-select  panelClass="grupo-fatura-select-panel create-fatura" formControlName="nome">
          <mat-option *ngFor="let mes of meses" [value]="mes.viewValue">
            {{ mes.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-actions">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onClose()"
        >
          Cancelar
        </button>

        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!grupoFaturaForm.valid"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>
