<nav class="navbar">
  <h1 title>{{ titleService.getTitle() }}</h1>

  <div app-tooltip-helper>
    <mat-icon
      class="icon-help"
      matTooltip="Selecione uma fatura para visualizar e gerenciar as despesas associadas a ela. Cada fatura representa um conjunto específico de despesas."
      >help_outline
    </mat-icon>
  </div>
  <div selected-group [formGroup]="grupoFaturasForm">
    <div class="select-grupo-fatura">
      <mat-form-field appearance="fill">
        <mat-select
          panelClass="grupo-fatura-select-panel"
          formControlName="grupoFaturaId"
        >
          <mat-option
            *ngFor="let grupoFatura of grupoFaturas"
            [value]="grupoFatura.id"
          >
            {{ grupoFatura.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-ano">
      <mat-form-field appearance="fill">
        <span matPrefix class="text-color">Ano</span>
        <mat-select panelClass="ano-select-panel" formControlName="ano">
          <mat-option *ngFor="let ano of anos" [value]="ano">
            {{ ano }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button mat-icon-button class="logout-icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</nav>

<div container-app>
  <div
    class="sidenav"
    [ngClass]="{'expanded': sidenavExpanded}"
    (mouseenter)="checkIfMobile() && abrirSidenav()"
    (mouseleave)="checkIfMobile() && fecharSidenav()"
  >
    <div logo-content>
      <a [routerLink]="'dashboard'" class="nav-link">
        <img logo-app src="../../../../favicon.ico" alt="logo" />
        <h2 *ngIf="sidenavExpanded">Despesas</h2>
      </a>
    </div>
    <hr line />

    <a
      [routerLink]="'dashboard'"
      (click)="setSelectedButton('dashboard')"
      [ngClass]="{'selected': selectedButton === 'dashboard'}"
      class="nav-link"
    >
      <mat-icon>dashboard_customize</mat-icon>
      <span *ngIf="sidenavExpanded">Dashboard</span>
    </a>
    <a
      [routerLink]="'painel'"
      (click)="setSelectedButton('painel')"
      [ngClass]="{'selected': selectedButton === 'painel'}"
      class="nav-link"
    >
      <mat-icon>settings_applications</mat-icon>
      <span *ngIf="sidenavExpanded">Painel de Controle</span>
    </a>

    <a
      [routerLink]="'conferencia-compras'"
      (click)="setSelectedButton('conferencia-compras')"
      [ngClass]="{'selected': selectedButton === 'conferencia-compras'}"
      class="nav-link"
    >
      <mat-icon>attach_money</mat-icon>
      <span *ngIf="sidenavExpanded">Conferência de Compras</span>
    </a>
  </div>

  <div class="content-app" [ngClass]="{'expanded': sidenavExpanded}">
    <router-outlet></router-outlet>
  </div>
</div>
