<nav class="navbar">
  <h1 title>{{ titleService.getTitle() }}</h1>

  <div selected-group [formGroup]="grupoDespesasForm">
    <mat-icon
      class="icon-help"
      matTooltip="Selecione um grupo para visualizar e gerenciar as despesas associadas a ele. Cada grupo representa um conjunto específico de despesas."
      >help_outline
    </mat-icon>
    <mat-form-field appearance="fill">
      <mat-select formControlName="grupoDespesaId">
        <mat-option
          *ngFor="let grupoDespesa of grupoDespesas"
          [value]="grupoDespesa.id"
        >
          {{ grupoDespesa.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-icon-button class="logout-icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</nav>

<div container-app>
  <div
    class="sidenav"
    [ngClass]="{'expanded': sidenavExpanded}"
    (mouseenter)="checkIfMobile() && abrirSidenav()"
    (mouseleave)="checkIfMobile() && fecharSidenav()"
  >
    <div logo-content>
      <a [routerLink]="'dashboard'" class="nav-link">
        <img logo-app src="../../../../favicon.ico" alt="logo" />
        <h2 *ngIf="sidenavExpanded">Despesas</h2>
      </a>
    </div>
    <hr line />

    <a
      [routerLink]="'dashboard'"
      (click)="setSelectedButton('dashboard')"
      [ngClass]="{'selected': selectedButton === 'dashboard'}"
      class="nav-link"
    >
      <mat-icon>dashboard_customize</mat-icon>
      <span *ngIf="sidenavExpanded">Dashboard</span>
    </a>
    <a
      [routerLink]="'painel'"
      (click)="setSelectedButton('attach_money')"
      [ngClass]="{'selected': selectedButton === 'attach_money'}"
      class="nav-link"
    >
      <mat-icon>settings_applications</mat-icon>
      <span *ngIf="sidenavExpanded">Painel de Controle</span>
    </a>
  </div>

  <div class="content-app" [ngClass]="{'expanded': sidenavExpanded}">
    <router-outlet></router-outlet>
  </div>
</div>
