<nav class="navbar">
  <h1 title>{{ titleService.getTitle() }}</h1>
  <button mat-icon-button class="logout-icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</nav>

<div container-app>
  <div
    class="sidenav"
    [ngClass]="{'expanded': sidenavExpanded}"
    (mouseenter)="checkIfMobile() && abrirSidenav()"
    (mouseleave)="checkIfMobile() && fecharSidenav()"
  >
    <div logo-content>
      <a [routerLink]="'dashboard'" class="nav-link">
        <img logo-app src="../../../../favicon.ico" alt="logo" />
        <h2 *ngIf="sidenavExpanded">Despesas</h2>
      </a>
    </div>
    <hr line />

    <a
      [routerLink]="'dashboard'"
      (click)="selectedButton = 'dashboard'"
      [ngClass]="{'selected': selectedButton === 'dashboard'}"
      class="nav-link"
    >
      <mat-icon>dashboard_customize</mat-icon>
      <span *ngIf="sidenavExpanded">Dashboard</span>
    </a>
    <a
      [routerLink]="'gerenciar'"
      (click)="selectedButton = 'attach_money'"
      [ngClass]="{'selected': selectedButton === 'attach_money'}"
      class="nav-link"
    >
      <mat-icon>settings_applications</mat-icon>
      <span *ngIf="sidenavExpanded">Painel de Controle</span>
    </a>
  </div>

  <div class="content-app" [ngClass]="{'expanded': sidenavExpanded}">
    <router-outlet></router-outlet>
  </div>
</div>
