:host {
  [container-app] {
    display: flex;
    min-height: 100vh;
  }

  .navbar {
    width: 100%;
    background-color: #673ab7;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 15px;

    &.navbar h1 {
      flex-grow: 1;
      text-align: left;
      padding-left: 9px;
    }

    &.navbar .logout-icon {
      margin-left: auto;
      padding-left: 15px;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }

  .nav-link:hover {
    background-color: #7e57c2;
    color: #e0e0e0;
  }

  .nav-link mat-icon {
    margin-right: 8px;
    transition: transform 0.3s;
  }

  .selected {
    font-weight: bold;
    color: #fff;
  }

  .selected mat-icon {
    transform: scale(1.2);
  }

  .sidenav-collapsed span {
    display: none;
  }

  mat-icon {
    flex-shrink: 0;
    position: relative;
    right: 3px;
  }

  .sidenav {
    height: 100%;
    width: 50px; /* Largura inicial da sidebar */
    position: fixed;
    background-color: rgb(103, 58, 183);
    overflow-x: hidden; /* Mudança de 'auto' para 'hidden' para evitar o scrollbar horizontal */
    transition: width 0.5s;
    z-index: 1000; /* Assegurar que a sidebar está acima do conteúdo */
  }

  .sidenav a {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.55);
    padding: 5px 15px 7px;
    transition: color 0.3s;
  }

  .sidenav a span {
    display: none;
    white-space: nowrap;
  }

  .sidenav.expanded {
    width: 190px;
  }

  .sidenav.expanded a span {
    display: inline;
    transition: opacity 0.5s ease;
    opacity: 1;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    background: none;
  }

  .sidenav a.selected {
    color: white;
  }

  .content {
    transition: margin-left 0.5s;
    margin-left: 50px;
    flex-shrink: 0;
    width: calc(100% - 50px);
    box-sizing: border-box;
    overflow-x: auto;
  }

  .sidenav.expanded ~ .content {
    margin-left: 190px;
  }

  @media (max-width: 768px) {
    .content {
      transition: margin-left 0.5s;
      margin: 20px;
      flex-shrink: 0;
      width: calc(100% - 50px);
      box-sizing: border-box;
      overflow-x: auto;
    }

    .sidenav {
      height: 45px;
      width: 100%;
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: 0;
      background-color: rgb(103, 58, 183);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      overflow-x: auto;
    }

    .sidenav a {
      padding: 10px;
      text-decoration: none;
      font-size: 20px;
      color: rgb(255 255 255 / 55%);
      display: flex;
      align-items: center;
      transition: color 0.3s;
    }
    .navbar {
      padding: 0px;
    }

    .hiden-in-movel {
      display: none;
    }
  }
}
