body {
  &.azul-theme {
    --azul-theme-color: #1398e5;
    --azul-theme-background: linear-gradient(#50b3eb, #2fa4e7 60%, #2c9ad9);

    [navbar] {
      background-color: #50b3eb;
    }

    [sidenav] {
      background-image: var(--azul-theme-background);

      [menu-links] {
        & a {
          color: rgb(255 255 255 / 71%) !important;

          &.selected {
            color: white !important;
          }
        }
      }

      [line] {
        border-color: rgb(60 183 255 / 56%) !important;
      }
    }

    [app-title] {
      color: var(--azul-theme-color);
    }

    [dashboard] {
      [app-card-container] {
        [app-multi-card] {
          [app-multi-card-header] {
            [download-button] {
              color: var(--azul-theme-color) !important;
            }
          }

          [app-multi-card-body] {
            .expense-item {
              [share-whatsapp] {
                background-image: var(--azul-theme-background);
              }

              .expense-value {
                color: var(--azul-theme-color) !important;
              }
            }

            [status-fatura] {
              .mdc-radio__outer-circle {
                border-color: var(--azul-theme-color) !important;
              }

              .mdc-radio__background::before {
                background-color: #ffffff00;
              }

              .fatura-aberta {
                --mdc-radio-selected-icon-color: #00d51e;
                --mdc-radio-selected-hover-icon-color: #00d51e;
                --mdc-radio-selected-pressed-icon-color: #00d51e;
                --mat-radio-checked-ripple-color: #00d51e;
              }

              .fatura-fechada {
                --mdc-radio-selected-icon-color: var(
                  --azul-theme-color
                ) !important;
                --mdc-radio-selected-hover-icon-color: var(
                  --azul-theme-color
                ) !important;
                --mdc-radio-selected-pressed-icon-color: var(
                  --azul-theme-color
                ) !important;
                --mat-radio-checked-ripple-color: var(
                  --azul-theme-color
                ) !important;
              }
            }
          }
        }
      }
    }

    [app-card-container] {
      [app-multi-card] {
        [app-multi-card-header] {
          background-image: var(--azul-theme-background);
        }
      }
    }

    [app-table] {
      table {
        .mat-icon {
          color: var(--azul-theme-color) !important;
        }
      }
    }

    [pagination] {
      --mdc-outlined-text-field-outline-color: #238dff;
      --mdc-outlined-text-field-hover-outline-color: var(--azul-theme-color);
      --mdc-outlined-text-field-focus-outline-color: var(--azul-theme-color);
    }

    [painel-controle] {
      [options-header] {
        [list-itens] {
          .mat-mdc-unelevated-button.mat-primary {
            background-image: var(--azul-theme-background);
          }
        }
      }
    }

    [app-button-action] {
      background-image: var(--azul-theme-background);
      border: solid 2px var(--azul-theme-color);
    }

    [app-modal] {
      [app-modal-header] {
        background-image: var(--azul-theme-background);
      }

      [app-modal-body] {
        [form-custom] {
          [app-card] {
            .fatura {
              &.fatura-neutra {
                color: var(--azul-theme-color) !important;
              }
            }
          }

          .form-actions {
            .mat-mdc-unelevated-button.mat-primary,
            .mat-mdc-raised-button.mat-primary {
              --mdc-filled-button-container-color: var(--azul-theme-color);
              --mdc-protected-button-container-color: var(--azul-theme-color);
            }
          }
        }
      }
    }

    [despesa-list-by-group] {
      [app-card] {
        [app-card-header] {
          [app-button-action] {
            background-image: none;
            background-color: #f5f5f5 !important;
            color: var(--azul-theme-color) !important;
            border: solid 2px var(--azul-theme-color);

            & [icon-bg] {
              border: 1px solid var(--azul-theme-color) !important;
            }
          }
        }
      }

      [div-footer] {
        .total-itens {
          .total-value {
            span {
              border: solid 2px var(--azul-theme-color) !important;
              color: var(--azul-theme-color) !important;
            }
          }
        }
      }
    }

    [app-card] {
      [app-card-header] {
        background-image: var(--azul-theme-background);
      }
    }

    [app-button] {
      background: var(--azul-theme-background);
      border: solid 1px var(--azul-theme-color);
    }

    [card-descricao-totais] {
      [modal-descricao-cores-valores] {
        .color-box.default {
          background-color: var(--azul-theme-color) !important;
        }
      }

      .button-save {
        &.mat-mdc-unelevated-button.mat-primary {
          --mdc-filled-button-container-color: var(--azul-theme-color);
        }
      }
    }

    [app-input-color] {
      --mdc-outlined-text-field-label-text-color: var(--azul-theme-color);
      --mdc-outlined-text-field-focus-label-text-color: var(--azul-theme-color);
      --mdc-outlined-text-field-outline-color: #69b1ff;
      --mdc-outlined-text-field-hover-label-text-color: var(--azul-theme-color);
      --mdc-outlined-text-field-hover-outline-color: var(--azul-theme-color);
      --mdc-outlined-text-field-focus-outline-color: var(--azul-theme-color);
      --mdc-outlined-text-field-caret-color: var(--azul-theme-color);
    }

    [auditoria-compras] {
      [app-multi-card-header] {
        i {
          .mat-icon {
            color: var(--azul-theme-color) !important;
          }
        }
      }
    }

    .mat-icon.icon-help {
      color: var(--azul-theme-color) ;
    }

    // ícone-seletor-options
    --mat-select-enabled-arrow-color: #69b1ff;
    --mat-option-selected-state-label-text-color: var(--azul-theme-color);
    --mat-select-focused-arrow-color: var(--azul-theme-color);
    .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
      color: var(--azul-theme-color);
    }

    // scroll bar
    [app-card-body],
    [app-multi-card-body],
    table,
    .mat-typography,
    .mat-mdc-select-panel {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background-image: var(--azul-theme-background);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #007bff !important;
      }
    }
  }
}
