body {
  &.dark-theme {
    background-color: #222222;
    color: #ddd;

    [navbar] {
      background-color: #375a7f !important;
      border-bottom: solid 3px #222222 !important;

      [itens-nav] {
        [selected-group] {
          --mdc-outlined-text-field-outline-color: #373737 !important;
          --mdc-outlined-text-field-hover-outline-color: #373737 !important;
          --mdc-outlined-text-field-focus-outline-color: #717171 !important;
          --mat-select-enabled-trigger-text-color: #ffffffdf;

          .text-color {
            color: #ffffffdf !important;
          }
        }
      }
    }

    [sidenav] {
      background-color: #375a7f !important;

      [line] {
        border-color: #375a7f5e !important;
      }
    }

    [dashboard] {
      [app-card-container] {
        [app-multi-card] {
          [app-multi-card-header] {
            [download-button] {
              background-color: #fff !important;
              color: #375a7f !important;
            }
          }

          [app-multi-card-body] {
            .expense-item {
              [share-whatsapp] {
                background-color: #375a7f !important;
                color: #ddd !important;
              }
            }

            [status-fatura] {
              .mdc-radio__outer-circle {
                border-color: #828282 !important;
              }

              .mdc-radio__background::before {
                background-color: #ffffff00;
              }

              .fatura-aberta {
                --mdc-radio-selected-icon-color: #00d51e;
                --mdc-radio-selected-hover-icon-color: #00d51e;
                --mdc-radio-selected-pressed-icon-color: #00d51e;
                --mat-radio-checked-ripple-color: #00d51e;
              }

              .fatura-fechada {
                --mdc-radio-selected-icon-color: #375a7f !important;
                --mdc-radio-selected-hover-icon-color: #375a7f !important;
                --mdc-radio-selected-pressed-icon-color: #375a7f !important;
                --mat-radio-checked-ripple-color: #375a7f !important;
              }
            }
          }
        }
      }
    }

    [app-card-container] {
      [app-multi-card] {
        border: 1px solid #333333;

        [app-multi-card-header] {
          background-color: #375a7f;
        }

        [app-multi-card-body] {
          .expense-item {
            background-color: #222222 !important;
            border: 1px solid rgb(113 105 93 / 32%) !important;

            .expense-title {
              color: #e3e3e3 !important;
            }

            .expense-value {
              color: #e3e3e3 !important;
            }
          }
        }
      }
    }

    [app-table] {
      background-color: #222222;

      table {
        th,
        td {
          border-bottom: 1px solid rgb(86 86 86 / 24%) !important;
          color: #e3e3e3 !important;
        }

        th {
          background-color: #222222 !important;
        }

        tr {
          background-color: rgb(45 45 45 / 53%) !important;
        }

        & tr:nth-child(even) {
          background-color: #222222 !important;
        }

        .mat-icon {
          color: #375a7f !important;
        }
      }
    }

    [painel-controle] {
      [options-header] {
        background-color: #375a7f !important;
        border: 1px solid #375a7f !important;

        [list-itens] {
          .mat-mdc-unelevated-button.mat-primary {
            --mdc-filled-button-container-color: #ffffff;
            --mdc-filled-button-label-text-color: #375a7f;
          }
        }
      }
    }

    [app-modal] {
      background-color: #222222 !important;

      [app-modal-header] {
        background-color: #375a7f;
      }

      [app-modal-body] {
        background-color: #222222;

        [form-custom] {
          [app-card] {
            [app-card-header] {
              background-color: #222222 !important;
              color: #ddd !important;

              h3 {
                color: #ddd !important;
              }
            }
            [app-card-body] {
              border: none !important;
            }

            .fatura {
              &.fatura-neutra {
                color: #375a7f !important;
              }
            }
          }

          .form-actions {
            .mat-mdc-unelevated-button.mat-primary,
            .mat-mdc-raised-button.mat-primary {
              --mdc-filled-button-container-color: #375a7f;
              --mdc-protected-button-container-color: #375a7f;
            }

            .mat-mdc-unelevated-button[disabled][disabled] {
              --mdc-filled-button-disabled-container-color: rgb(
                231 231 231 / 12%
              );
              --mdc-filled-button-disabled-label-text-color: rgb(
                255 255 255 / 38%
              );
            }
          }

          .text-color {
            color: #ddd !important;
          }
        }
      }
    }

    [app-card] {
      [app-card-header] {
        background-color: #375a7f;
      }

      [app-card-body] {
        background-color: #222222;
        border: 1px solid #3d3d3d !important;
      }
    }

    [app-button-action] {
      background-color: #ffffff;
      border: solid 2px #375a7f;
      color: #375a7f;

      & [icon-bg] {
        border: 1px solid #375a7f !important;
      }
    }

    [despesa-list-by-group] {
      [app-button-action] {
        color: #375a7f !important;
        background-color: #ffffff !important;
        border: 1px solid #375a7f !important;

        & [icon-bg] {
          border: 1px solid #375a7f !important;
        }
      }

      [div-footer] {
        .total-itens {
          span {
            background-color: #375a7f !important;
            border: solid 2px #7c91a745 !important;
            color: #ddd !important;
          }
        }
      }
    }

    [modal-descricao-cores-valores] {
      .color-box.default {
        background-color: #ddd !important;
      }
    }

    [app-button] {
      background: linear-gradient(135deg, #375a7f, #88b2df9e);
      color: #ffffff;
      border: solid 1px #333333;
      font-size: 13px;
    }

    [app-input-color] {
      --mdc-outlined-text-field-label-text-color: #ffffff;
      --mdc-outlined-text-field-focus-label-text-color: #ffffff;
      --mdc-outlined-text-field-outline-color: #b3b3b3b8;
      --mdc-outlined-text-field-hover-outline-color: #838383;
      --mdc-outlined-text-field-focus-outline-color: #838383;
      --mdc-outlined-text-field-input-text-placeholder-color: #999999;
      --mdc-outlined-text-field-input-text-color: #ffffffe6;
      --mdc-outlined-text-field-caret-color: #375a7f;

      .mat-mdc-form-field .mat-mdc-text-field-wrapper {
        background-color: rgb(47 48 49);
      }
    }

    [auditoria-compras] {
      [app-multi-card-header] {
        .mat-mdc-form-field .mat-mdc-text-field-wrapper {
          background-color: #d5d5d5d1 !important;

          --mdc-outlined-text-field-input-text-placeholder-color: #375a7f;
          --mdc-outlined-text-field-input-text-color: #375a7f;
          --mdc-outlined-text-field-caret-color: #375a7f;
        }

        i {
          .mat-icon {
            color: #375a7f !important;
          }
        }
      }

      [app-card-body] {
        [table-all-groups] {
          .mat-mdc-row {
            color: #e3e3e3 !important;
          }

          .mat-mdc-header-row {
            color: rgb(227, 227, 227) !important;
          }
        }
      }
    }

    [sugestao-fornecedor] {
      [app-table] {
        border: solid 1px #3d3d3d !important;
      }
    }

    footer {
      background-color: #222;
      border-top: 1px solid #414141;
    }

    /* table angular material */
    --mat-table-background-color: #222;
    --mat-table-row-item-outline-color: rgb(109 109 109 / 53%);
    /* end */

    /* pagination */
    --mdc-outlined-text-field-outline-color: #375a7f;
    --mdc-outlined-text-field-hover-outline-color: #375a7f;
    --mdc-outlined-text-field-focus-outline-color: #375a7f;

    --mat-paginator-enabled-icon-color: rgb(247 247 247 / 57%);
    --mat-paginator-disabled-icon-color: rgb(255 255 255 / 18%);
    .mat-mdc-paginator-container {
      background-color: #222;
    }
    /* end */

    /* ícone-seletor-options */
    --mat-option-label-text-color: #151515;
    --mat-select-panel-background-color: #cbcbcb;
    --mat-option-selected-state-label-text-color: #375a7f;

    --mat-select-focused-arrow-color: #ddd;
    --mat-select-enabled-trigger-text-color: #ddd;
    --mat-select-enabled-arrow-color: #ddd;

    .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
      color: #375a7f;
    }
    /* end */

    /* scroll bar */
    [app-card-body],
    [app-multi-card-body],
    table,
    .mat-typography,
    .mat-mdc-select-panel {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #375a7f !important;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #375a7f !important;
      }
    }
    /* end */
  }
}
