body {
  &.dark-theme {
    --dark-theme-color: rgb(44 62 80);
    --dark-theme-color-branco: #ffffff;
    --dark-theme-background: #222222;
    --dark-theme-text: #e3e3e3;

    background-color: var(--dark-theme-background);
    color: var(--dark-theme-text);

    [navbar] {
      background-color: var(--dark-theme-color) !important;
      border-bottom: solid 3px var(--dark-theme-background) !important;

      [itens-nav] {
        [selected-group] {
          --mdc-outlined-text-field-outline-color: #373737 !important;
          --mdc-outlined-text-field-hover-outline-color: #373737 !important;
          --mdc-outlined-text-field-focus-outline-color: #717171 !important;
          --mat-select-enabled-trigger-text-color: #ffffffdf;

          .text-color {
            color: #ffffffdf !important;
          }
        }
      }
    }

    [sidenav] {
      background-color: var(--dark-theme-color) !important;

      [line] {
        border-color: var(--dark-theme-color) 5e !important;
      }
    }

    [app-title] {
      color: var(--dark-theme-text);
    }

    [dashboard] {
      [app-card-container] {
        [app-multi-card] {
          [app-multi-card-header] {
            [download-button] {
              background-color: #fff !important;
              color: var(--dark-theme-color) !important;
            }
          }

          [app-multi-card-body] {
            .expense-item {
              [share-whatsapp] {
                background-color: var(--dark-theme-color) !important;
                color: var(--dark-theme-text) !important;
              }
            }

            [status-fatura] {
              .mdc-radio__outer-circle {
                border-color: #828282 !important;
              }

              .mdc-radio__background::before {
                background-color: #ffffff00;
              }

              .fatura-aberta {
                --mdc-radio-selected-icon-color: #00d51e;
                --mdc-radio-selected-hover-icon-color: #00d51e;
                --mdc-radio-selected-pressed-icon-color: #00d51e;
                --mat-radio-checked-ripple-color: #00d51e;
                --mdc-radio-selected-focus-icon-color: #00d51e;
              }

              .fatura-fechada {
                --mdc-radio-selected-icon-color: var(
                  --dark-theme-color
                ) !important;
                --mdc-radio-selected-hover-icon-color: var(
                  --dark-theme-color
                ) !important;
                --mdc-radio-selected-pressed-icon-color: var(
                  --dark-theme-color
                ) !important;
                --mat-radio-checked-ripple-color: var(
                  --dark-theme-color
                ) !important;
                --mdc-radio-selected-focus-icon-color: var(
                  --dark-theme-color
                ) !important;
              }
            }
          }
        }
      }
    }

    [app-card-container] {
      [app-multi-card] {
        border: 1px solid #333333;
        background: none;

        [app-multi-card-header] {
          background-color: var(--dark-theme-color);
        }

        [app-multi-card-body] {
          .expense-item {
            background-color: var(--dark-theme-background) !important;
            border: 1px solid rgb(113 105 93 / 32%) !important;

            .expense-title {
              color: var(--dark-theme-text) !important;
            }

            .expense-value {
              color: var(--dark-theme-text) !important;
            }
          }
        }
      }
    }

    [app-table] {
      background-color: var(--dark-theme-background);

      table {
        th,
        td {
          border-bottom: 1px solid rgb(86 86 86 / 24%) !important;
          color: var(--dark-theme-text) !important;
        }

        th {
          background-color: var(--dark-theme-background) !important;
        }

        tr {
          background-color: rgb(45 45 45 / 53%) !important;
        }

        .mat-icon {
          color: var(--dark-theme-color) !important;
        }

        tfoot td {
          background-color: var(--dark-theme-background) !important;
        }
      }
    }

    [pagination] {
      --mdc-outlined-text-field-outline-color: var(--dark-theme-color);
      --mdc-outlined-text-field-hover-outline-color: var(--dark-theme-color);
      --mdc-outlined-text-field-focus-outline-color: var(--dark-theme-color);

      --mat-paginator-enabled-icon-color: rgb(247 247 247 / 57%);
      --mat-paginator-disabled-icon-color: rgb(255 255 255 / 18%);
      .mat-mdc-paginator-container {
        background-color: var(--dark-theme-background);
      }
    }

    [painel-controle] {
      [options-header] {
        background-color: var(--dark-theme-color) !important;
        border: 1px solid var(--dark-theme-color) !important;

        [list-itens] {
          .mat-mdc-unelevated-button.mat-primary {
            --mdc-filled-button-container-color: var(--dark-theme-color-branco);
            --mdc-filled-button-label-text-color: var(--dark-theme-color);
          }
        }
      }
    }

    [app-modal] {
      background-color: var(--dark-theme-background) !important;

      [app-modal-header] {
        background-color: var(--dark-theme-color);
      }

      [app-modal-body] {
        background-color: var(--dark-theme-background);

        [form-custom] {
          [app-card] {
            [app-card-header] {
              background-color: var(--dark-theme-background) !important;
              color: var(--dark-theme-text) !important;

              h3 {
                color: var(--dark-theme-text) !important;
              }
            }
            [app-card-body] {
              border: none !important;
            }

            .fatura {
              &.fatura-neutra {
                color: var(--dark-theme-color) !important;
              }
            }
          }

          .form-actions {
            .mat-mdc-unelevated-button.mat-primary,
            .mat-mdc-raised-button.mat-primary {
              --mdc-filled-button-container-color: var(--dark-theme-color);
              --mdc-protected-button-container-color: var(--dark-theme-color);
            }

            .mat-mdc-unelevated-button[disabled][disabled] {
              --mdc-filled-button-disabled-container-color: rgb(
                231 231 231 / 12%
              );
              --mdc-filled-button-disabled-label-text-color: rgb(
                255 255 255 / 38%
              );
            }
          }

          .text-color {
            color: var(--dark-theme-text) !important;
          }
        }
      }
    }

    [app-card] {
      [app-card-header] {
        background-color: var(--dark-theme-color);
      }

      [app-card-body] {
        background-color: var(--dark-theme-background);
        border: 1px solid #3d3d3d !important;
      }
    }

    [app-button-action] {
      background-color: var(--dark-theme-color-branco);
      border: solid 2px var(--dark-theme-color);
      color: var(--dark-theme-color);

      & [icon-bg] {
        border: 1px solid var(--dark-theme-color) !important;
      }
    }

    [despesa-list-by-group] {
      [app-button-action] {
        color: var(--dark-theme-color) !important;
        background-color: var(--dark-theme-color-branco) !important;
        border: 1px solid var(--dark-theme-color) !important;

        & [icon-bg] {
          border: 1px solid var(--dark-theme-color) !important;
        }
      }

      [div-footer] {
        .total-itens {
          .total-value {
            span {
              background-color: var(--dark-theme-color) !important;
              border: solid 2px #7c91a745 !important;
              color: var(--dark-theme-text) !important;
            }
          }
        }
      }
    }

    [card-descricao-totais] {
      background-color: var(--dark-theme-background);

      [modal-descricao-cores-valores] {
        .color-box.default {
          background-color: var(--dark-theme-text) !important;
        }

        .legend-card {
          background-color: #2f3031;
          color: #fff;

          input[type="number"] {
            color: #fff !important;
          }
        }
      }

      .button-save {
        &.mat-mdc-unelevated-button.mat-primary {
          --mdc-filled-button-container-color: var(--dark-theme-color);
          --mdc-filled-button-label-text-color: var(--dark-theme-color-branco);
        }
      }
    }

    [app-button] {
      background: linear-gradient(135deg, var(--dark-theme-color), #88b2df9e);
      color: var(--dark-theme-color-branco);
      border: solid 1px #333333;
      font-size: 13px;
    }

    [app-input-color] {
      --mdc-outlined-text-field-label-text-color: var(
        --dark-theme-color-branco
      );
      --mdc-outlined-text-field-focus-label-text-color: var(
        --dark-theme-color-branco
      );
      --mdc-outlined-text-field-outline-color: #b3b3b3b8;
      --mdc-outlined-text-field-hover-outline-color: #838383;
      --mdc-outlined-text-field-focus-outline-color: #838383;
      --mdc-outlined-text-field-input-text-placeholder-color: #999999;
      --mdc-outlined-text-field-input-text-color: #ffffffe6;
      --mdc-outlined-text-field-caret-color: var(--dark-theme-color);
      --mdc-outlined-text-field-hover-label-text-color: #ffffffe6;

      .mat-mdc-form-field .mat-mdc-text-field-wrapper {
        background-color: rgb(47 48 49);
      }
    }

    [auditoria-compras] {
      [app-multi-card-header] {
        .mat-mdc-form-field .mat-mdc-text-field-wrapper {
          background-color: #d5d5d5d1 !important;

          --mdc-outlined-text-field-input-text-placeholder-color: var(
            --dark-theme-color
          );
          --mdc-outlined-text-field-input-text-color: var(--dark-theme-color);
          --mdc-outlined-text-field-caret-color: var(--dark-theme-color);
        }

        i {
          .mat-icon {
            color: var(--dark-theme-color) !important;
          }
        }
      }

      [app-card-body] {
        [table-all-groups] {
          --mat-table-background-color: var(--dark-theme-background) !important;
          --mat-table-row-item-outline-color: rgb(109 109 109 / 53%);

          .mat-mdc-row {
            color: var(--dark-theme-text) !important;
          }

          .mat-mdc-header-row {
            color: rgb(227, 227, 227) !important;
          }
        }
      }
    }

    [sugestao-fornecedor] {
      [app-table] {
        border: solid 1px #3d3d3d !important;
      }
    }

    footer {
      background-color: var(--dark-theme-background);
      border-top: 1px solid #414141;
    }

    /*seletor-options */
    --mdc-outlined-text-field-focus-outline-color: var(--dark-theme-color);
    --mdc-outlined-text-field-hover-outline-color: var(--dark-theme-color);
    --mdc-outlined-text-field-outline-color: #cbcbcb;

    --mat-option-label-text-color: #151515;
    --mat-select-panel-background-color: #cbcbcb;
    --mat-option-selected-state-label-text-color: var(--dark-theme-color);

    --mat-select-focused-arrow-color: var(--dark-theme-text);
    --mat-select-enabled-trigger-text-color: var(--dark-theme-text);
    --mat-select-enabled-arrow-color: var(--dark-theme-text);

    .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
      color: var(--dark-theme-color);
    }
    /* end */

    /* scroll bar */
    * {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--dark-theme-color) !important;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: var(--dark-theme-color) !important;
      }
    }
    /* end */
  }
}
