:host {
  [app-multi-card-header] {
    ::ng-deep {
      .mat-mdc-form-field-bottom-align::before {
        display: inline;
      }

      .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
        padding-right: 10px;
        border-radius: 8px;
      }

      .mat-mdc-form-field-icon-suffix {
        padding: 0 0 0 0px;
        height: 52px;
      }

      .mat-mdc-text-field-wrapper {
        height: 27px;
        flex: auto;
      }

      .mat-mdc-form-field-infix {
        padding-top: 2px;
      }

      .mdc-text-field--filled:not(.mdc-text-field--disabled)
        .mdc-line-ripple::before {
        border-bottom-color: rgb(245 245 245);
      }
      /* .mdc-text-field--filled:not(.mdc-text-field--disabled)
        .mdc-line-ripple::after {
        border-bottom-color: #f5f5f5;
      } */
    }
    .mat-icon {
      color: #673ab7;
    }
  }
  .expense-item {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #708090;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;

    .expense-title {
      width: 100%;
      font-size: 16px;
      color: #708090;
      text-align: start;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: box-shadow 0.2s ease-in-out;
      line-height: 1.5;
    }

    .expense-details {
      width: 100%;

      table {
        width: 100%;
        table-layout: fixed;
        transition: box-shadow 0.2s ease-in-out;
        min-width: 600px;

        th,
        td {
          text-align: center;
          vertical-align: middle;
          border: 1px solid #e0e0e0;
        }

        th {
          background-color: #f7f7f7;
          padding: 5px;
        }

        td {
          padding: 5px;
          font-size: 14px;
          word-break: break-word;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    [app-card-container] {
      [app-multi-card] {
        flex: 1 1 100%;

        [app-multi-card-header] {
          [download-button]:hover {
            background-color: #fff;
            box-shadow: none;
          }

          mat-icon.icon-help {
            display: none;
          }
        }
        [app-multi-card-body] {
          .expense-item {
            .expense-value {
              right: 38%;
            }
            width: 200%;
          }
        }
      }

      .scroll-toggle-button {
        right: 20px;
      }
    }
  }
}
