<div header-model>
  <h2>Adicionar Membro</h2>
</div>

<div modal-content input-create>
  <form [formGroup]="membroForm" (ngSubmit)="onSubmit()" form-custom>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input
        matInput
        formControlName="nome"
        [ngClass]="{
          'is-invalid':
            membroValidator.nome.errors && membroValidator.nome.touched
        }"
      />

      <mat-error *ngIf="membroValidator['nome'].hasError('required')">
        Nome é obrigatório.
      </mat-error>
      <mat-error *ngIf="membroValidator['nome'].hasError('minlength')">
        Nome deve ter no mínimo 3 caracteres.
      </mat-error>
      <mat-error *ngIf="membroValidator['nome'].hasError('maxlength')">
        Nome deve ter no máximo 25 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Telefone</mat-label>
      <input
        matInput
        formControlName="telefone"
        [ngClass]="{
          'is-invalid':
            membroValidator.telefone.errors && membroValidator.telefone.touched
        }"
      />

      <mat-error *ngIf="membroValidator['telefone'].hasError('required')">
        Telefone é obrigatório.
      </mat-error>

      <mat-error *ngIf="membroValidator['telefone'].hasError('minlength')">
        Permitido no minímo 11 caracteres.
      </mat-error>

      <mat-error *ngIf="membroValidator['telefone'].hasError('maxlength')">
        Permitido no maxímo 17 caracteres.
      </mat-error>
    </mat-form-field>

    <div class="form-actions">
      <button type="button" mat-raised-button color="warn" (click)="onClose()">
        Cancelar
      </button>

      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!membroForm.valid"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
