<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login">
        <div class="login__field">
          <mat-icon class="login__icon">person</mat-icon>
          <input
            [(ngModel)]="email"
            name="email"
            type="text"
            class="login__input"
            placeholder="User name / Email"
          />
        </div>
        <div class="login__field">
          <mat-icon class="login__icon">lock</mat-icon>
          <input
            [(ngModel)]="password"
            name="password"
            type="password"
            class="login__input"
            matInput
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
          />
          <button
            type="button"
            class="toggle-visibility"
            (click)="showPassword = !showPassword"
          >
            <mat-icon class="visibility-icon">{{
              showPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </div>

        <button class="button login__submit" (click)="login()">
          <span class="button__text">Conecte-se agora</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
