<div app-multi-card-header>
  <h2 app-card-title>Análise de Compras por Grupo</h2>
  <div app-tooltip-helper>
    <mat-icon
      class="icon-help"
      matTooltip="Se o valor total das despesas estiver entre R$5130,00 e R$5700,00 a cor será amarela. Se ultrapassar R$5700,00 a cor ficará vermelha. Caso contrário, a cor será neutra."
      matTooltipPosition="above"
      >help_outline</mat-icon
    >
  </div>
</div>

<div app-multi-card-body class="contralizar-grafico">
  <div
    *ngIf="
      graphicConfig && graphicConfig.chartData.datasets.length;
      else semDados
    "
  >
    <app-graphic
      [graphicConfig]="graphicConfig"
      [graphicType]="'bar'"
      [width]="900"
      [height]="315"
    >
    </app-graphic>
  </div>
  <ng-template #noGraphicData>
    <h2>Nenhuma análise de compras encontrada</h2>
  </ng-template>
</div>

<ng-template #semDados>
  <div dados-nao-encontrados>Nenhuma informação encontrada</div>
</ng-template>
