:host {
  [membro-list] {
    table {
      td,
      th {
        text-align: center;
      }

      th {
        mat-icon.icon-help {
          height: 14px;
          width: 14px;
          font-size: 14px;
        }
      }

      input[type="text"] {
        border: none;
        outline: none;
        width: 90%;
        background-color: transparent;
        text-align: center;
        font-size: 15px;
        color: #708090;
        border-bottom: 2px solid #d3d3d3;
      }

      [space] {
        margin-left: 20px;
      }
    }
  }
}
