<div membro-list>
  <div app-table app-table-icons-options>
    <table>
      <thead>
        <th>Membro</th>
        <th>Telefone</th>
        <th>Opções</th>
      </thead>
      <tbody>
        <tr
          *ngFor="let membro of membros"
          (keyup.enter)="updateMembro(membro.id, membro)"
        >
          <td>
            <div *ngIf="membro.isEditing; else viewNome">
              <input type="text" [(ngModel)]="membro.nome" />
            </div>
            <ng-template #viewNome>{{ membro.nome }}</ng-template>
          </td>
          <td>
            <div *ngIf="membro.isEditing; else viewTelefone">
              <input type="text" [(ngModel)]="membro.telefone" />
            </div>
            <ng-template #viewTelefone>{{ membro.telefone }}</ng-template>
          </td>
          <td>
            <i *ngIf="!membro.isEditing; else saveEdicao">
              <mat-icon
                (click)="openEdit(membro)"
                [class.disable-options]="isEditing"
                >edit</mat-icon
              >
            </i>

            <ng-template #saveEdicao>
              <mat-icon (click)="updateMembro(membro.id, membro)"
                >save</mat-icon
              >
              <mat-icon space (click)="cancelEdit(membro)">cancel</mat-icon>
              <!-- Ícone de cancelar -->
            </ng-template>

            <i space *ngIf="!membro.isEditing">
              <mat-icon
                (click)="confirmDelete(membro.id)"
                [class.disable-options]="isEditing"
                >delete</mat-icon
              >
            </i>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="membros.length == 0">
        <tr>
          <td colspan="3">
            <div dados-nao-encontrados>Nenhum membro encontrado</div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
