<div list-compras>
  <div app-table>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of produtoListaCompras"
          (keyup.enter)="updateProdutoListaCompras(item.code, item)"
        >
          <td>
            <div *ngIf="item.isEditing; else viewItem">
              <input type="text" [(ngModel)]="item.item" />
            </div>
            <ng-template #viewItem>{{ item.item }}</ng-template>
          </td>

          <td>
            <i *ngIf="!item.isEditing; else saveEdicao">
              <mat-icon
                (click)="openEdit(item)"
                [class.disable-options]="isEditing"
                >edit</mat-icon
              >
            </i>

            <ng-template #saveEdicao>
              <mat-icon (click)="updateProdutoListaCompras(item.code, item)"
                >save</mat-icon
              >
              <mat-icon space (click)="cancelEdit(item)">cancel</mat-icon>
            </ng-template>

            <i space *ngIf="!item.isEditing">
              <mat-icon
                (click)="confirmDelete(item.code)"
                [class.disable-options]="isEditing"
                >delete</mat-icon
              >
            </i>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="produtoListaCompras.length == 0">
        <tr>
          <td colspan="4">
            <div dados-nao-encontrados>Nenhuma Item encontrado</div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <button app-button (click)="openCreateProdutoListaComprasModal()">
    <span>
      <mat-icon>add_circle</mat-icon>
      Novo Item
    </span>
  </button>
</div>
