:host {
  [list-compras] {
    [app-mat-table-custom] {
      overflow-y: scroll;
      height: 685px;
      border: solid 1px #ccc;

      [space] {
        margin-left: 20px;
      }

      ::ng-deep {
        .mdc-data-table__cell,
        .mdc-data-table__header-cell {
          padding: 10px 30px 10px 30px;
        }

        .mat-mdc-row {
          height: 40px;
          color: #708090;
          font-size: 14px;
        }

        .mat-mdc-header-row {
          height: 35px;
          color: #4e6376;
        }

        .mat-sort-header-container {
          border: none !important;
        }
      }
    }

    [actions] {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      [app-button] {
        width: 50%;
        border-radius: 0px;
        outline: none;
        box-shadow: none;
        transition: none;

        &:hover {
          transform: none;
          box-shadow: none;
        }

        &:active {
          transform: none;
          box-shadow: none;
        }

        span {
          transition: transform 0.2s ease;
          display: inline-block;

          &:hover {
            transform: translateY(-2px);
          }

          .mat-icon {
            margin-right: 3px;
            vertical-align: middle;
            line-height: 0.9;
          }
        }
      }
    }
  }

  @media (max-width: 1600px) {
    [list-compras] {
      [app-mat-table-custom] {
        height: 500px !important;
      }
    }
  }

  @media screen and (max-width: 600px) {
    [app-mat-table-custom] {
      table {
        display: inline-table;
        table-layout: fixed;
      }
    }

    [actions] {
      flex-direction: column;

      [app-button] {
        width: 100% !important;
        padding: 5px;

        &:last-child {
          border-top: solid 1px #ccc;
        }
      }
    }
  }
}
