<div list-compras>
  <div app-table>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of produtoListaCompras">
          <td>{{ item.item }}</td>
          <td>
            <mat-icon (click)="openEdit(item)">edit</mat-icon>
            <mat-icon (click)="confirmDelete(item.code)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="produtoListaCompras.length == 0">
        <tr>
          <td colspan="4">
            <div dados-nao-encontrados>Nenhum item encontrado</div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div actions>
    <button app-button (click)="openCreateProdutoListaComprasModal()">
      <span>
        <mat-icon>add_circle</mat-icon>
        Novo Item
      </span>
    </button>

    <button app-button (click)="exportaPdfListaCompras()">
      <span>
        <mat-icon>download</mat-icon>
        Exportar Pdf
      </span>
    </button>
  </div>
</div>
