:host {
  [modal-content] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    [form-custom] {
      width: 100%;

      .form-field {
        margin-bottom: 15px;

        & label {
          display: block;
          margin-bottom: 5px;
          color: #673ab7;
          font-weight: bold;
        }

        & input,
        button {
          width: 100%;
          padding: 10px;
          border-radius: 4px;
          border: 2px solid #673ab7;
          box-sizing: border-box;

          &:focus {
            outline: none;
            border: 3px solid #673ab7;
          }
        }
      }

      .form-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .btn {
          background-color: #673ab7;
          color: white;
          cursor: pointer;
          border: none;
          border-radius: 20px;
          padding: 10px 20px;
          text-transform: uppercase;
          font-weight: bold;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #5e35b1;
          }

          & .btn-primary {
            background-color: #673ab7;
            color: white;
          }

          & .btn-primary:hover {
            background-color: #5e35b1;
          }

          &.btn-cancel {
            background-color: #f7f5fb;
            color: #673ab7;
          }

          & .btn-cancel:hover {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
  .select-container {
    font-family: Arial, sans-serif;
    width: 200px; /* Como especificado inline no seu HTML */
    margin: 20px auto; /* Centralizado horizontalmente */
    position: relative;
  }

  .select-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
  }

  .select-container select {
    width: 100%;
    padding: 10px 10px 10px 10px; /* Ajustado para ter espaço igual ao redor */
    border: 2px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  /* Estilo para o seletor de seta customizado */
  .select-container::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
  }

  .select-container select:focus {
    border-color: #0056b3;
    outline: none;
  }

  /* Efeito visual para o hover do select */
  .select-container select:hover {
    background-color: #f2f2f2;
  }

  /* Mudança de cor do background ao selecionar */
  .select-container select:active {
    background-color: #e8e8e8;
  }

  [header-model] {
    background-color: #673ab7;
    width: 100%;
    height: 10%;
    text-align: center;
    h2 {
      color: #fff;
      padding: 10px;
      font-size: 24px;
    }
  }

  @media screen and (max-width: 600px) {
    [header-model] {
      h2 {
        padding: 10px;
        font-size: 24px;
      }
    }
  }
}
