<div painel-controle>
  <div options-header>
    <button button-action (click)="openModalInsertCategoria()">
      <div icon-bg>
        <img
          class="icon-position"
          src="../../../../../assets/icons/nova-categoria.svg"
          alt="Ícone de nova-categoria"
        />
      </div>

      <span options-title>Nova Categoria</span>
    </button>

    <button button-action (click)="openModalInsertDespesa()">
      <div icon-bg>
        <img
          class="icon-position"
          src="../../../../../assets/icons/nova-compra.svg"
          alt="Ícone de nova compra"
        />
      </div>

      <span options-title>Nova Despesa</span>
    </button>

    <button button-action (click)="openModalInserirMembro()">
      <div icon-bg>
        <img
          class="icon-position membro-position"
          src="../../../../../assets/icons/novo-membro.svg"
          alt="Ícone de novo-membro"
        />
      </div>

      <span options-title>Novo Membro</span>
    </button>

    <button mat-flat-button color="primary" (click)="viewCategorias()">
      Ver Categorias
    </button>

    <button mat-flat-button color="primary" (click)="viewMembros()">
      Ver Membros
    </button>
  </div>

  <app-view-despesa-modal></app-view-despesa-modal>
</div>

<!-- <button mat-raised-button color="primary" (click)="abrirModal(modalForm)">
  Conferir Fatura
</button>

<ng-template #modalForm let-dialogRef>
  <div class="mat-dialog-content">
    <h2>Fatura do Cartão</h2>
    <mat-form-field>
      <mat-label>Fatura do Cartão:</mat-label>
      <input matInput type="number" id="fatura" [(ngModel)]="faturaCartao" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="calcular()"
      class="button-calcular"
    >
      Calcular
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="dialogRef.close()"
      class="button-cancelar"
    >
      Cancelar
    </button>
    <div
      class="resultado-card"
      [ngClass]="{'vermelho': valorSubtraido < 0, 'verde': valorSubtraido == 0, 'azul': valorSubtraido > 0}"
    >
      <p>Valor Subtraído: {{ valorSubtraido | currency:'BRL' }}</p>
      <p>Total de Despesas: {{ totalDespesa | currency:'BRL' }}</p>
      <p *ngIf="valorSubtraido < 0">A despesa é menor que a fatura.</p>
      <p *ngIf="valorSubtraido == 0">Está tudo certo.</p>
      <p *ngIf="valorSubtraido > 0">Está sobrando.</p>
    </div>
  </div>
</ng-template>
 -->
