<div painel-controle>
  <div options-header>
    <div insert-itens>
      <button button-action (click)="openCreateMembroModal()">
        <div icon-bg>
          <mat-icon>group_add</mat-icon>
        </div>

        <span options-title>Novo Membro</span>
      </button>

      <button button-action (click)="openCreateCategoriaModal()">
        <div icon-bg>
          <img
            class="icon-position"
            src="../../../../../assets/icons/nova-categoria.svg"
            alt="Ícone de nova-categoria"
          />
        </div>

        <span options-title>Nova Categoria</span>
      </button>

      <button button-action (click)="openCreategrupoFaturaModal()">
        <div icon-bg>
          <mat-icon>note_add</mat-icon>
        </div>

        <span options-title>Novo Grupo</span>
      </button>

      <button button-action (click)="openChecarFaturaCartaoModal()">
        <div icon-bg>
          <mat-icon>credit_card</mat-icon>
        </div>

        <span options-title>Conferir Fatura</span>
      </button>

      <button button-action (click)="openCreateDespesaModal()">
        <div icon-bg>
          <mat-icon>add_shopping_cart</mat-icon>
        </div>

        <span options-title>Nova Despesa</span>
      </button>
    </div>

    <div list-itens>
      <button
        mat-flat-button
        color="primary"
        (click)="openListgrupoFaturasModal()"
      >
        Ver Grupos
      </button>

      <button
        mat-flat-button
        color="primary"
        (click)="openListCategoriaModal()"
      >
        Ver Categorias
      </button>

      <button mat-flat-button color="primary" (click)="openListMembroModal()">
        Ver Membros
      </button>
    </div>
  </div>

  <list-despesas></list-despesas>
</div>
