:host {
  [painel-controle] {
    margin-right: 30px;

    [options-header] {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-radius: 10px;
      background-color: #efefef;
      border: 1px solid #ddd;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 1%;
      transition: box-shadow 0.2s ease-in-out;

      [button-action] {
        position: relative;
        background-color: #673ab7;
        color: #ffffff;
        padding: 10px 0px 10px 60px;
        border: none;
        border-radius: 20px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;

        &:hover {
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
          transform: translateY(-2px);
        }

        & [icon-bg] {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: -4px;
          top: 50%;
          transition: transform 0.3s ease;
          transform: translateY(-50%);
          width: 42px;
          height: 40px;
          background-color: #ffffff;
          border-radius: 50%;
          transition: box-shadow 0.3s ease;

          & .icon-position {
            height: 20px;
            z-index: 1;
          }
        }

        & [options-title] {
          position: relative;
          margin-top: 2px;
          right: 13%;
        }
      }

      .mdc-button {
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover {
          transform: translateY(-1px);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
        }
      }
    }

    @media screen and (max-width: 600px) {
      [options-header] {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        margin-bottom: 10px;
        transition: none;

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transform: none;
        }

        & [button-action] {
          width: 100%;
          padding: 11px 40px;
          margin-top: 10px;
          display: flex;
          justify-content: flex-start;

          & .icon-position {
            right: 3.9%;
            top: 8px;
          }

          & [options-title] {
            left: 2%;
          }
        }

        .mdc-button {
          display: flex;
          justify-content: flex-start;
          margin-top: 10px;
        }
      }
    }
  }
}

::ng-deep {
  [header-model] {
    background-color: #673ab7;
    width: 100%;
    height: 10%;
    text-align: center;
    h2 {
      color: #fff;
      padding: 10px;
      font-size: 24px;
    }
  }

  [modal-content] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    mat-form-field {
      width: 100%;
      margin-bottom: 5px;
    }
    .mdc-text-field--filled {
      height: 52px;
    }

    .mat-mdc-form-field .mat-mdc-text-field-wrapper {
      border-radius: 8px;
      max-width: 100%;
    }

    [custom-buttons] {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}
