<div painel-controle>
  <h1 app-title>
    <mat-icon>settings_applications</mat-icon>
    {{ titleService.getTitle() }}
  </h1>

  <div options-header>
    <div insert-itens>
      <button app-button-action (click)="openCreateMembroModal()">
        <div icon-bg>
          <mat-icon>group_add</mat-icon>
        </div>

        <span title-button>Novo Membro</span>
      </button>

      <button app-button-action (click)="openCreateCategoriaModal()">
        <div icon-bg>
          <mat-icon>list</mat-icon>
        </div>

        <span title-button>Nova Categoria</span>
      </button>

      <button app-button-action (click)="openCreategrupoFaturaModal()">
        <div icon-bg>
          <mat-icon>note_add</mat-icon>
        </div>

        <span title-button>Nova Fatura</span>
      </button>

      <button app-button-action (click)="openCreateDespesaModal()">
        <div icon-bg>
          <mat-icon>add_shopping_cart</mat-icon>
        </div>

        <span title-button>Nova Despesa</span>
      </button>
    </div>

    <div list-itens>
      <button
        mat-flat-button
        color="primary"
        (click)="openListgrupoFaturasModal()"
      >
        Ver Grupos
      </button>

      <button
        mat-flat-button
        color="primary"
        (click)="openListCategoriaModal()"
      >
        Ver Categorias
      </button>

      <button mat-flat-button color="primary" (click)="openListMembroModal()">
        Ver Membros
      </button>
    </div>
  </div>

  <list-despesas></list-despesas>
</div>
