:host {
  [painel-controle] {
    width: 100%;
    margin-bottom: 5px;

    [options-header] {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      padding: 5px;
      border-radius: 10px;
      background-color: #efefefa1;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 1%;
      transition: box-shadow 0.2s ease-in-out;

      .mdc-button {
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover {
          transform: translateY(-1px);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
        }
      }

      [list-itens] {
        button {
          margin: 10px;
        }

        ::ng-deep {
          .mat-mdc-unelevated-button.mat-primary {
            --mat-filled-button-state-layer-color: none;
          }
        }
      }

      [insert-itens] {
        button {
          margin: 10px;
        }
      }
    }

    @media screen and (max-width: 600px) {
      [options-header] {
        flex-direction: column;
        align-items: stretch;
        max-width: 100%;
        margin-bottom: 15px;
        transition: none;
        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transform: none;
        }

        & [app-button-action] {
          width: 100%;
          padding: 11px 40px;
          margin-top: 10px;
          display: flex;
          justify-content: flex-start;

          & .icon-position {
            right: 3.9%;
            top: 8px;
          }

          & [title-button] {
            left: 2%;
          }
        }

        .mdc-button {
          display: flex;
          justify-content: flex-start;
          margin-top: 10px;
        }

        [list-itens] {
          button {
            width: 100%;
            margin-bottom: 10px;
            margin-left: 0px;
          }
        }

        [insert-itens] {
          button {
            margin-bottom: 10px;
            margin-left: 0px;
          }
        }
      }
    }
  }
}
