:host {
  [app-card] {
    [app-card-body] {
      [app-table] {
        th,
        td {
          border: none;
          padding: 10px;
          padding-left: 60px;
          text-align: left;
          font-size: 15px;
          color: #708090;
        }

        td.value-color {
          font-weight: 500;
        }

        th {
          background-color: #f2f4f7;
          color: #708090;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
        }

        tr {
          border-bottom: 1px solid #eee;
        }

        tfoot td {
          font-weight: 500;
          background-color: #f2f4f7;
          color: #708090;
        }
      }
    }
  }
}
