<app-selector-faturas
  [grupoFaturasForm]="grupoFaturasForm"
  [grupoFaturas]="grupoFaturas"
></app-selector-faturas>

<div app-card>
  <div app-card-header>
    <h2 app-card-title>Comparativo de Despesas</h2>
  </div>
  <div app-card-body>
    <div app-table>
      <table>
        <thead>
          <tr>
            <th>Categoria</th>
            <th>{{ nomeGrupoFatura1 }}</th>
            <th>{{ nomeGrupoFatura2 }}</th>
            <th>Diferença</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of comparativoFaturas">
            <td>{{ item.categoria }}</td>
            <td>{{ item.despesaGrupoFatura1 | currency : "BRL" }}</td>
            <td>{{ item.despesaGrupoFatura2 | currency : "BRL" }}</td>
            <td
              class="value-color"
              [ngStyle]="{
                color: getDifferenceColor(
                  item.despesaGrupoFatura1,
                  item.despesaGrupoFatura2
                )
              }"
            >
              {{
                item.despesaGrupoFatura1 - item.despesaGrupoFatura2
                  | currency : "BRL"
              }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total Geral</td>
            <td>{{ totalGrupoFatura1 | currency : "BRL" }}</td>
            <td>{{ totalGrupoFatura2 | currency : "BRL" }}</td>
            <td
              class="value-color"
              [ngStyle]="{
                color: getDifferenceColor(totalGrupoFatura1, totalGrupoFatura2)
              }"
            >
              {{ totalDifference | currency : "BRL" }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<app-summary-resumo-faturas
  [comparativoFaturas]="comparativoFaturas"
  [totalGrupoFatura1]="totalGrupoFatura1"
  [totalGrupoFatura2]="totalGrupoFatura2"
  [nomeGrupoFatura1]="nomeGrupoFatura1"
  [nomeGrupoFatura2]="nomeGrupoFatura2"
></app-summary-resumo-faturas>
