<app-modal
  [textTitle]="'Editar Membro'"
  [textConfirmButton]="'Salvar'"
  [textCancelButton]="'Cancelar'"
  [formClass]="'form-two-columns'"
  (confirmClick)="onSave()"
  (cancelClick)="onCancel()"
>
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="membro.nome" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="membro.telefone" />
  </mat-form-field>
</app-modal>
