<h1 app-title>
  <mat-icon>attach_money</mat-icon>
  {{ titleService.getTitle() }}
</h1>
<div container>
  <div app-card>
    <div app-card-header>
      <h2 app-card-title>Lista de Cobranca Divididas por Dois</h2>

      <div icon-bg (click)="addCobrancaDivididas()">
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <div app-card-body>
      <div app-table>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Parcelas</th>
              <th>Valor por pacela</th>
              <th>Total</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let compra of listCobrancaDivdidasPorDois">
              <td>{{ compra.nome }}</td>
              <td>{{ compra.parcelas }}</td>
              <td>{{ compra.valorPorParcela | currency:'BRL' }}</td>
              <td>{{ compra.valorTotal | currency:'BRL' }}</td>
              <td>
                <mat-icon space (click)="confirmDelete(compra.code)"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="listCobrancaDivdidasPorDois.length > 0">
              <td colspan="3">Total</td>
              <td>
                {{valorTotalSomadoListCobrancaDivdidasPorDois | currency:'BRL'}}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="listCobrancaDivdidasPorDois.length > 0">
              <td colspan="3">Divido por Dois</td>
              <td>
                {{valorTotalDividoListCobrancaDivdidasPorDois | currency:'BRL'}}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="listCobrancaDivdidasPorDois.length == 0">
              <td colspan="5">
                <div dados-nao-encontrados>Nenhum encontrado</div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div app-card>
    <div app-card-header>
      <h2 app-card-title>Lista de Cobranca Somente da Laila</h2>

      <div icon-bg (click)="addCobrancaSomente()">
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <div app-card-body>
      <div app-table>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Parcelas</th>
              <th>Valor por pacela</th>
              <th>Total</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let compra of listCobranca">
              <td>{{ compra.nome }}</td>
              <td>{{ compra.parcelas }}</td>
              <td>{{ compra.valorPorParcela | currency:'BRL' }}</td>
              <td>{{ compra.valorTotal | currency:'BRL' }}</td>
              <td>
                <mat-icon space (click)="confirmDelete(compra.code)"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="listCobranca.length > 0">
              <td colspan="3">Total</td>
              <td>{{valorTotalSomadoListCobranca | currency:'BRL'}}</td>
              <td></td>
            </tr>
            <tr *ngIf="listCobranca.length == 0">
              <td colspan="5">
                <div dados-nao-encontrados>Nenhum encontrado</div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div app-card>
    <div app-card-header>
      <h2 app-card-title>Lista de Pagamento</h2>

      <div icon-bg (click)="addValorRecebido()">
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <div app-card-body>
      <div app-table>
        <table display-table>
          <thead>
            <tr>
              <th>Data do Pagamento</th>
              <th>Valor Pago</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recebimento of listPagamento">
              <td>{{ recebimento.data }}</td>
              <td>{{ recebimento.valor | currency:'BRL' }}</td>
              <td>
                <mat-icon space (click)="confirmDelete(recebimento.code, true)"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="listPagamento.length > 0">
              <td colspan="1">Total</td>
              <td>{{valorTotalSomadoListPagamento | currency:'BRL'}}</td>
              <td></td>
            </tr>
            <tr *ngIf="listCobranca.length == 0">
              <td colspan="3">
                <div dados-nao-encontrados>Nenhum encontrado</div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div summary>
    <div class="item">
      <h2 app-title>Valor total já recebido</h2>
      <div class="value">
        {{ valorTotalSomadoListPagamento | currency:'BRL' }}
      </div>
    </div>
    <div class="item">
      <h2 app-title>Valor total a ser Pago</h2>
      <div class="value">
        {{ valorTotalDividoListCobrancaDivdidasPorDois +
        valorTotalSomadoListCobranca - valorTotalSomadoListPagamento |
        currency:'BRL'}}
      </div>
    </div>
  </div>
</div>
