@import "reset";

//Login
.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: #d4d3e8;
}
.mat-mdc-form-field .mat-mdc-text-field-wrapper {
  border-radius: 20px;
  max-width: 90%;
}

mat-form-field {
  mat-icon {
    color: #4c489d;
  }
}

table {
  .mat-icon {
    cursor: pointer;
    color: #673ab7;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }
}

//end

//title navbar
.mat-typography h1 {
  margin: 0;
}
//end

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
