@import "reset";
:root {
  --mdc-outlined-text-field-focus-outline-color: #673ab7;
  --mdc-outlined-text-field-outline-color: #673ab775;
  --mdc-outlined-text-field-hover-outline-color: #4200b7;

  --mdc-outlined-text-field-outline-width: 2px !important;
  --mdc-outlined-text-field-container-shape: 10px !important;
}

.mat-typography {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #673ab7;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #5c2ca3;
  }
}

//largura do input de select que fica na table
.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
  width: 255px !important;
}

//select-grupo
//input select grupo exibir nome todo
/* .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  white-space: nowrap;
} */

//cor do input ao ser selecionado
.mat-mdc-form-field-focus-overlay {
  background-color: rgb(0 0 0 / 0%);
}
//end select grupo

//title navbar
.mat-typography h1 {
  margin: 0;
}
//option selecionada em um select
.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: #673ab7;
}

.mat-typography h3,
.mat-typography p {
  margin: 0px;
}
