[app-modal] {
  [app-modal-header] {
    background-color: #673ab7;
    width: 100%;
    height: 10%;
    text-align: center;
    color: #fff;

    h2 {
      color: #fff;
      padding: 10px;
      font-size: 24px;
    }
  }

  [app-modal-body] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    [form-custom] {
      width: 100%;

      .form-actions {
        display: flex;
        justify-content: space-between;
      }

      mat-form-field {
        width: 100%;
        margin-bottom: 12px;
      }
      .mdc-text-field--filled {
        height: 52px;
      }

      .mat-mdc-form-field .mat-mdc-text-field-wrapper {
        border-radius: 8px;
        max-width: 100%;
      }

      .mat-mdc-form-field-hint-wrapper,
      .mat-mdc-form-field-error-wrapper {
        padding: 0px;
      }
    }
  }
}

[app-input-color] {
  --mdc-outlined-text-field-label-text-color: #673ab7;
  --mdc-outlined-text-field-focus-label-text-color: #673ab7;
  --mdc-outlined-text-field-outline-color: #9762f2;
  --mdc-outlined-text-field-hover-outline-color: #673ab7;
  --mdc-outlined-text-field-focus-outline-color: #673ab7;
  --mdc-outlined-text-field-caret-color: #673ab7;

  .mat-mdc-form-field .mat-mdc-text-field-wrapper {
    background-color: #f5f5f5;
    border-radius: 6px !important;
  }
}

[app-tooltip-helper] {
  .mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: #7b7b7b;
  }

  .mat-mdc-tooltip .mdc-tooltip__surface {
    text-align: start;
  }

  mat-icon.icon-help {
    color: #fff;
    cursor: help;
    font-size: 17px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }
}

[app-login] {
  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::before {
    border-bottom-color: #d4d3e8;
  }
  .mat-mdc-form-field .mat-mdc-text-field-wrapper {
    border-radius: 20px;
    max-width: 90%;
  }

  mat-form-field {
    mat-icon {
      color: #4c489d;
    }
  }
}

[app-card-container] {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;

  [app-multi-card] {
    flex: 0 0 calc(50% - 12px);
    max-width: calc(50% - 12px);
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.4s ease-in-out;
    border: 1px solid #ccc;

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24);
    }

    [app-multi-card-header] {
      background-color: #673ab7;
      color: white;
      padding: 10px;
      border-radius: 8px 8px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      [app-card-title] {
        font-size: 20px;
        text-align: start;
        line-height: 1.3;
      }

      mat-icon.icon-help {
        color: #fff;
      }
    }

    [app-multi-card-body] {
      flex-grow: 1;
      overflow-y: auto;
      max-height: 320px;

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #683ab7d3;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #5c2ca3;
      }
    }
  }
}

[app-card] {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.4s ease-in-out;

  &:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  }

  [app-card-header] {
    background-color: #673ab7;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    [app-tooltip-helper] {
      display: flex;
      align-items: center;
      mat-icon.icon-help {
        font-size: 25px;
      }
    }

    [app-card-title] {
      font-size: 20px;
      text-align: start;
      line-height: 1.3;
    }

    mat-icon.icon-help {
      color: #fff;
    }
  }

  [app-card-body] {
    overflow-y: auto;
    max-height: 100%;
    border: 1px solid #ccc;
    border-radius: 0px 0px 8px 8px;
    padding: 12px;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      border-radius: 10px;
      background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #683ab7d3;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #5c2ca3;
    }
  }
}

[app-table] {
  table {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;

    tr {
      cursor: pointer;
    }

    th,
    td {
      padding: 10px;
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid #e0e0e0;
    }

    th {
      background-color: #f7f7f7;
      font-weight: 500;
      color: #4e6376;
    }

    td {
      color: #708090;
      font-size: 14px;
    }

    & tr:nth-child(even) {
      background-color: #f7f7f7;
    }

    tfoot tr td {
      text-align: center;
    }

    .mat-icon {
      cursor: pointer;
      color: #673ab7;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-3px);
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      border-radius: 10px;
      background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #683ab7d3;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #5c2ca3;
    }
  }
}

[app-button-action] {
  position: relative;
  background-color: #673ab7;
  color: #ffffff;
  padding: 10px 0px 10px 60px;
  border: none;
  border-radius: 20px;
  border: solid 2px #673ab7;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;

  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }

  & [icon-bg] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -4px;
    top: 50%;
    transition: transform 0.3s ease;
    transform: translateY(-50%);
    width: 42px;
    height: 40px;
    background-color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;

    & .icon-position {
      height: 20px;
      z-index: 1;
    }

    & mat-icon {
      color: black;
    }
  }

  & [title-button] {
    position: relative;
    margin-top: 2px;
    right: 13%;
  }
}

[app-button] {
  background: linear-gradient(135deg, #673ab7, #925cf3);
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

[dados-nao-encontrados] {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #757575;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

@media screen and (max-width: 600px) {
  [app-table] {
    table {
      display: block;

      th,
      td {
        min-width: 100px;
      }
    }
  }
  [app-card-container] {
    [app-multi-card] {
      flex: 1 1 100%;
      width: 100%;
      max-width: none;
    }

    .scroll-toggle-button {
      right: 20px;
    }
  }

  mat-icon.icon-help {
    display: none;
  }
}

:root {
  --mdc-outlined-text-field-focus-outline-color: #673ab7;
  --mdc-outlined-text-field-outline-color: #673ab775;
  --mdc-outlined-text-field-hover-outline-color: #4200b7;

  /* ícone-seletor-options */
  --mat-select-enabled-arrow-color: #7f4dd6;
  --mat-option-selected-state-label-text-color: #673ab7;
  --mat-select-focused-arrow-color: #673ab7;
  .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
    color: #673ab7;
  }
  /* end */
}
