@import "reset";
@import "styles-app.scss";
@import "themes/styles-app.roxo.scss";
@import "themes/styles-app.dark.scss";
@import "themes/styles-app.azul.scss";

:root {
  --mdc-outlined-text-field-outline-width: 2px !important;
  --mdc-outlined-text-field-container-shape: 10px !important;

  //seletor de temas da navbar
  --mat-menu-container-color: #efefef !important;
}

.mat-typography h1 {
  margin: 0px;
  line-height: 0px;
}

//cor do input ao ser selecionado
.mat-mdc-form-field-focus-overlay {
  background-color: rgb(0 0 0 / 0%);
}
/* End */

//painel controle
.categoria-select-painel {
  padding: 0px !important;

  &.create-despesa {
    width: 80% !important;
  }
}

.custom-input-filter {
  height: 10px !important;
}
/* End */

.disable,
.disable-options {
  pointer-events: none;
  opacity: 0.8;
}

/* modal list painel controle */

@media (max-width: 1600px) {
  .list-produto-lista-compras {
    margin-top: 45px;
  }
}
/* End */

/* Seletor de filtragem */
div.mat-mdc-select-panel.filter-select-panel {
  min-width: 215px;
}
/* End */

/* Toast notification */
.toast-container .ngx-toastr {
  &:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  }
}

.toast-success,
.toast-error,
.toast-info,
.toast-warning {
  font-family: "Arial", sans-serif;
  animation: shake 0.3s;
}

.toast-success {
  background-color: #28a745;
}

.toast-error {
  background-color: #ed2336;
}

.toast-warning {
  background-color: #ff9800;
}
.toast-info {
  background-color: #17a2b8;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
/* End */
