<div app-modal>
  <div app-modal-header>
    <h2>Adicionar Grupo de Despesas</h2>
  </div>

  <div app-modal-body>
    <form [formGroup]="grupoFaturaForm" (ngSubmit)="onSubmit()" form-custom>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mês</mat-label>
        <span matPrefix>Fatura de&nbsp;</span>
        <input
          matInput
          formControlName="nome"
          [ngClass]="{
            'is-invalid':
              grupoFaturaValidator.nome.errors &&
              grupoFaturaValidator.nome.touched
          }"
        />

        <mat-error *ngIf="grupoFaturaValidator['nome'].hasError('required')">
          Nome é obrigatório.
        </mat-error>
        <mat-error *ngIf="grupoFaturaValidator['nome'].hasError('minlength')">
          Nome deve ter no mínimo 3 caracteres.
        </mat-error>
        <mat-error *ngIf="grupoFaturaValidator['nome'].hasError('maxlength')">
          Nome deve ter no máximo 25 caracteres.
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onClose()"
        >
          Cancelar
        </button>

        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!grupoFaturaForm.valid"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>
