:host {
  [despesa-list-by-group] {
    [app-card] {
      [app-card-body] {
        padding-top: 15px;

        [filtro] {
          display: flex;
          justify-content: space-between;
          width: 100%;
          border-radius: 10px;
          padding-bottom: 12px;

          [input-filtrar] {
            width: 100%;

            ::ng-deep {
              mat-form-field {
                width: 100%;
              }
              .mat-mdc-form-field .mat-mdc-text-field-wrapper {
                max-width: 100%;
                border-radius: 10px;
              }

              .mat-mdc-form-field-bottom-align::before {
                display: none;
              }

              .mdc-text-field--filled:not(.mdc-text-field--disabled)
                .mdc-line-ripple::before {
                border-bottom-color: #673ab7;
              }
            }

            .mat-icon {
              width: 40px;
            }
          }

          ::ng-deep {
            .mat-mdc-form-field-bottom-align::before {
              display: none;
            }
          }
        }

        table {
          & input[type="text"] {
            border: none;
            outline: none;
            width: 90%;
            background-color: transparent;
            text-align: center;
            font-size: 15px;
            color: #708090;
            border-bottom: 1px solid #d3d3d3;
          }

          input.preco {
            text-align: center !important;
          }

          ::ng-deep {
            .mat-mdc-select-value {
              border: none;
              outline: none;
              width: 90%;
              background-color: transparent;
              text-align: center;
              font-size: 15px;
              color: #708090;
              border-bottom: 1px solid #d3d3d3;
            }

            .mat-mdc-select-trigger {
              right: -4%;
            }
            .cdk-overlay-connected-position-bounding-box {
              & .cdk-overlay-pane {
                width: 14% !important;
              }
            }
          }

          [space] {
            margin-left: 20px;
          }
        }

        .disabled {
          pointer-events: none;
          opacity: 0.8;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    [app-card] {
      [app-card-headerer] {
        [filtro] {
          [input-filtrar] {
            width: 60%;
          }
        }
      }

      [app-card-body] {
        table {
          width: 100%;
          display: block;

          th,
          td {
            font-size: 14px;
            min-width: 100px;
          }

          [space] {
            margin: 20;
          }
        }

        [pagination] {
          display: flex;
          justify-content: center;

          ::ng-deep {
            .mat-mdc-paginator-container {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0px;
              width: 100%;
            }

            .mat-mdc-paginator-page-size-label {
              margin: 0px;
              white-space: nowrap;
            }
            .mat-mdc-paginator-range-label {
              margin: 0px;
              white-space: nowrap;
            }

            .mat-mdc-paginator-page-size {
              margin-right: 0px;
            }
            .mat-mdc-paginator-range-actions {
              border: solid 1px #ccc;
              border-radius: 5px;
              padding: 0px 6px 0px;
              margin: 10px;
            }
          }
        }

        .mat-paginator {
          font-size: 12px;
        }
      }
    }
  }
}
