<div comparativo-faturas>
  <h1 app-title>
    <mat-icon>bar_chart</mat-icon>
    {{ titleService.getTitle() }}
  </h1>

  <app-selector-faturas
    [grupoFaturasForm]="grupoFaturasForm"
    (getListGruposFaturasParaSeletor)="getListGruposFaturasParaSeletor($event)"
  ></app-selector-faturas>

  <app-table-comparativo-despesas
    [comparativoFaturas]="comparativoFaturas"
    [totalGrupoFatura1]="totalGrupoFatura1"
    [totalGrupoFatura2]="totalGrupoFatura2"
    [nomeGrupoFatura1]="nomeGrupoFatura1"
    [nomeGrupoFatura2]="nomeGrupoFatura2"
  ></app-table-comparativo-despesas>

  <app-summary-resumo-faturas
    [comparativoFaturas]="comparativoFaturas"
    [totalGrupoFatura1]="totalGrupoFatura1"
    [totalGrupoFatura2]="totalGrupoFatura2"
    [nomeGrupoFatura1]="nomeGrupoFatura1"
    [nomeGrupoFatura2]="nomeGrupoFatura2"
  ></app-summary-resumo-faturas>
</div>
