<div table-custom tooltip-custom dashboard>
  <div cards-informations>
    <div class="card">
      <div class="card-head">
        <div card-title>Despesa de casa</div>
        <div>
          <button download-button (click)="downloadRelatorioDespesasCasa()">
            Download do Relatório
          </button>
          <mat-icon
            class="icon-help"
            matTooltip="Baixar um PDF onde descreve os cálculos feitos sobre os valores das despesas relacionadas a Almoço, Lanches, Higiene etc..."
            >help_outline
          </mat-icon>
        </div>
      </div>
      <div class="card-body">
        <div *ngFor="let item of despesasPorMembros" class="expense-item">
          <div class="expense-title">{{ item.nome }}</div>
          <div class="expense-value">
            {{ item.valorDespesaCasa | currency:'BRL' }}
          </div>
          <div
            share-whatsapp
            (click)="openMensagemWhatsAppModal(item.nome, false)"
          >
            <mat-icon>share</mat-icon>
            <span>WhatsApp</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-head">
        <div card-title>Despesa de moradia</div>
        <div>
          <button
            download-button
            (click)="downloadRelatorioDespesasHabitacional()"
          >
            Download do Relatório
          </button>
          <mat-icon
            class="icon-help"
            matTooltip="Baixar um PDF onde descreve os calculos feitos sobre os valores das despesas relacionadas a Aluguel, Condomínio, e Conta de Luz foram somados."
            >help_outline</mat-icon
          >
        </div>
      </div>
      <div class="card-body">
        <ng-container *ngFor="let item of despesasPorMembros">
          <div *ngIf="item.valorDespesaMoradia >= 0" class="expense-item">
            <div class="expense-title">{{ item.nome }}</div>
            <div class="expense-value">
              {{ item.valorDespesaMoradia | currency:'BRL' }}
            </div>
            <div
              share-whatsapp
              (click)="openMensagemWhatsAppModal(item.nome, true)"
            >
              <mat-icon>share</mat-icon>
              <span>WhatsApp</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="card">
      <div class="card-head">
        <div card-title>Análise de Compras por Grupo</div>
      </div>
      <div class="card-body">
        <app-graphic
          [graphicConfig]="graphicConfig"
          [graphicMobile]="graphicMobile"
          [graphicType]="'line'"
          [width]="900"
          [height]="315"
        >
        </app-graphic>
      </div>
    </div>

    <div class="card">
      <div class="card-head"><div card-title>Total por categoria</div></div>
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Mês</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listDespesasPorCategoria">
              <td>{{ item.categoria }}</td>
              <td>{{ item.total| currency:'BRL' }}</td>
            </tr>
          </tbody>
          <tfoot *ngIf="listDespesasPorCategoria.length == 0">
            <tr>
              <td colspan="2">
                <h2>Nenhuma despesa encontrada</h2>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-head">
        <div card-title>{{relatorioGastosDoGrupo.grupoDespesaNome}}</div>
      </div>
      <div class="card-body">
        <div class="expense-item">
          <div class="expense-title">Total Moradia</div>
          <div class="expense-value no-button-whats">
            {{ relatorioGastosDoGrupo.totalGastosMoradia | currency:'BRL' }}
          </div>
        </div>
        <div class="expense-item">
          <div class="expense-title">Total Casa</div>
          <div class="expense-value no-button-whats">
            {{ relatorioGastosDoGrupo.totalGastosCasa | currency:'BRL' }}
          </div>
        </div>
        <div class="expense-item">
          <div class="expense-title">Total Casa + Moradia</div>
          <div class="expense-value no-button-whats">
            {{ relatorioGastosDoGrupo.totalGeral | currency:'BRL' }}
          </div>
        </div>
      </div>
    </div>

    <button
      id="scrollToggle"
      class="scroll-toggle-button"
      (click)="toggleScroll()"
    >
      <mat-icon>{{ scrollIcon }}</mat-icon>
    </button>
  </div>
</div>
