:host {
  [dashboard] {
    width: 100%;

    [app-card-container] {
      [app-multi-card] {
        [app-multi-card-header] {
          [download-button] {
            background-color: #fff;
            color: #673ab7;
            padding: 5px 5px;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            transition-duration: 0.4s;
            white-space: nowrap;
          }

          [download-button]:hover {
            background-color: #ffffffc4;
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1),
              0 17px 50px 0 rgba(0, 0, 0, 0.1);
          }
        }

        [app-multi-card-body] {
          .expense-item {
            position: relative;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin: 10px;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #708090 !important;
            transition: box-shadow 0.2s ease-in-out;

            &:hover {
              box-shadow: 1px 0 10px -6px rgba(0, 0, 0, 0.75);
            }

            .expense-title {
              font-size: 14px;
              color: #708090;
              text-align: start;
            }

            .expense-value {
              position: relative;
              right: 20%;
              font-size: 18px;
              font-weight: bold;
              color: #673ab7;

              &.no-button-whats {
                right: 0px;
              }
            }

            [share-whatsapp] {
              position: absolute;
              bottom: 0;
              right: 0;
              background-color: #673ab7;
              padding: 10px 4px;
              border-radius: 0px 8px 8px 0px;
              color: white;
              cursor: pointer;
              display: flex;
              align-items: center;

              & mat-icon {
                margin-right: 8px;
                font-size: 20px;
                height: 20px;
                width: 20px;
              }
            }
          }


          [status-fatura] {
            text-align: start;
            ::ng-deep {
              .mdc-radio__outer-circle {
                border-color: #ac7eff;
              }

              .mdc-radio__background::before {
                background-color: #ac7eff;
              }

              .mdc-radio__inner-circle {
                border-color: #00d51e;
              }
              .mdc-form-field > label {
                color: #673ab7;
              }
            }
          }

          table {
            th,
            td {
              text-align: left;
              padding: 12px;
              border-bottom: 1px solid #e0e0e0;
              border-right: 1px solid #e0e0e0;
            }

            tfoot tr td {
              text-align: center;
            }
          }
        }
      }

      .scroll-toggle-button {
        position: fixed;
        bottom: 60px;
        right: 50px;
        background-color: #673ab7;
        color: white;
        border: none;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;
      }
    }

    @media screen and (max-width: 600px) {
      [app-card-container] {
        [app-multi-card] {
          [app-multi-card-header] {
            [download-button]:hover {
              background-color: #fff;
              box-shadow: none;
            }
          }
          [app-multi-card-body] {
            .expense-item {
              .expense-value {
                right: 38%;
              }
            }
          }
        }

        .scroll-toggle-button {
          right: 20px;
        }
      }
    }
  }
}
