:host {
  [dashboard] {
    width: 100%;
    margin-right: 30px;

    [icon-bg] {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: -4px;
      top: 50%;
      transition: transform 0.3s ease;
      transform: translateY(-50%);
      width: 42px;
      height: 40px;
      background-color: #ffffff;
      border-radius: 50%;
      transition: box-shadow 0.3s ease;

      & .icon-position {
        height: 20px;
        z-index: 1;
      }
    }

    [card-container] {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%;

      .card {
        flex: 0 0 calc(50% - 10px);
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        transition: box-shadow 0.4s ease-in-out;

        &:hover {
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24);
        }
        .card-head {
          background-color: #673ab7;
          color: white;
          padding: 10px;
          border-radius: 8px 8px 0 0;
          display: flex;
          justify-content: space-between;
          align-items: center;

          [card-title] {
            font-size: 20px;
            text-align: start;
          }

          [download-button] {
            background-color: #fff;
            color: #673ab7;
            padding: 5px 5px;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            transition-duration: 0.4s;
            white-space: nowrap;
          }

          [download-button]:hover {
            background-color: #ffffffc4;
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1),
              0 17px 50px 0 rgba(0, 0, 0, 0.1);
          }

          mat-icon.icon-help {
            color: #fff;
          }
        }

        .card-body {
          flex-grow: 1;
          border: 1px solid #ccc;
          border-radius: 0px 0px 8px 8px;

          .expense-item {
            position: relative;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin: 10px;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #708090 !important;
            transition: box-shadow 0.2s ease-in-out;

            &:hover {
              box-shadow: 1px 0 10px -6px rgba(0, 0, 0, 0.75);
            }

            .expense-title {
              font-size: 14px;
              color: #708090;
              text-align: start;
            }

            .expense-value {
              position: relative;
              right: 20%;
              font-size: 18px;
              font-weight: bold;
              color: #673ab7;

              &.no-button-whats {
                right: 0px;
              }
            }

            [share-whatsapp] {
              position: absolute;
              bottom: 0;
              right: 0;
              background-color: #673ab7;
              padding: 10px 4px;
              border-radius: 0px 8px 8px 0px;
              color: white;
              cursor: pointer;
              display: flex;
              align-items: center;

              & mat-icon {
                margin-right: 8px;
                font-size: 20px;
                height: 20px;
                width: 20px;
              }
            }
          }

          table {
            width: 100%;

            th,
            td {
              text-align: left;
              padding: 12px;
              border-bottom: 1px solid #e0e0e0;
              border-right: 1px solid #e0e0e0;
            }

            th:last-child,
            td:last-child {
              border-right: none;
            }

            th {
              background-color: #f7f7f7;
            }

            td {
              color: #708090;
            }
          }
        }
      }

      .scroll-toggle-button {
        position: fixed;
        bottom: 60px;
        right: 50px;
        background-color: #673ab7; /* Use a cor que combinar com seu design */
        color: white;
        border: none;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;
      }
    }

    @media screen and (max-width: 600px) {
      [card-container] {
        .card {
          flex: 1 1 100%;

          .card-head {
            [download-button]:hover {
              background-color: #fff;
              box-shadow: none;
            }

            mat-icon.icon-help {
              display: none;
            }
          }
          .card-body {
            .expense-item {
              .expense-value {
                right: 38%;
              }
            }
          }
        }

        .scroll-toggle-button {
          right: 20px;
        }
      }
    }
  }
}
