<div card-container>
  <div class="card">
    <div class="card-head">
      <div card-title>Gastos gerais da casa por membro</div>
      <button download-button (click)="downloadRelatorioDespesasCasa()">
        Download do Relatório
      </button>
    </div>
    <div class="card-body">
      <div *ngFor="let item of despesasPorMembros" class="expense-item">
        <div class="expense-title">{{ item.nome }}</div>
        <div class="expense-value">
          {{ item.valorDespesasCasa | currency:'BRL' }}
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      <div card-title>Gastos habitacionais por membro</div>
      <button download-button (click)="downloadRelatorioDespesasHabitacional()">
        Download do Relatório
      </button>
    </div>
    <div class="card-body">
      <ng-container *ngFor="let item of despesasPorMembros">
        <div
          *ngIf="item.valorCondominioAluguelContaDeLuz != 0"
          class="expense-item"
        >
          <div class="expense-title">{{ item.nome }}</div>
          <div class="expense-value">
            {{ item.valorCondominioAluguelContaDeLuz | currency:'BRL' }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      <div card-title>Análise de Compras Mensal de 2024</div>
    </div>
    <div class="card-body centralizar-graphic">
      <app-graphic
        [graphicConfig]="graphicConfig"
        [graphicMobile]="graphicMobile"
      >
      </app-graphic>
    </div>
  </div>

  <div class="card">
    <div class="card-head"><div card-title>Total por categoria</div></div>
    <div class="card-body">
      <table>
        <thead>
          <tr>
            <th>Mês</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listDespesasPorCategoria">
            <td>{{ item.categoria }}</td>
            <td>{{ item.total| currency:'BRL' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-head">Relatório de {{relatorioGastosDoMes.mesAtual}}</div>
    <div class="card-body">
      <div class="expense-item">
        <div class="expense-title">Total do Aluguel com Condomínio</div>
        <div class="expense-value">
          {{ relatorioGastosDoMes.totalAluguelCondominio | currency:'BRL' }}
        </div>
      </div>
      <div class="expense-item">
        <div class="expense-title">Total gastos gerais</div>
        <div class="expense-value">
          {{ relatorioGastosDoMes.totalGastosGerais | currency:'BRL' }}
        </div>
      </div>
      <div class="expense-item">
        <div class="expense-title">Total Geral</div>
        <div class="expense-value">
          {{ relatorioGastosDoMes.totalGeral | currency:'BRL' }}
        </div>
      </div>
    </div>
  </div>
</div>
