<div
  *ngIf="
    spinLoadService.enableSpinLoad &&
    spinLoadService.spinnerName == 'loading-spinner'
  "
  class="container-spin"
>
  <div class="black-page"></div>
  <ng-lottie
    width="350px"
    height="350px"
    class="spin"
    [options]="this.optionsLoadingSpinner"
  ></ng-lottie>
</div>

<div
  *ngIf="
    spinLoadService.enableSpinLoad &&
    spinLoadService.spinnerName == 'saving-spinner'
  "
  class="container-spin"
>
  <div class="black-page"></div>
  <ng-lottie
    width="350px"
    height="350px"
    class="spin"
    [options]="this.optionsSavingSpinner"
  ></ng-lottie>
</div>
