<div
  *ngIf="
    spinLoadService.enableSpinLoad &&
    spinLoadService.tipoSpinner == spinnerLoading
  "
  class="container-spin"
>
  <div class="black-page"></div>
  <div class="spin">
    <ng-lottie width="350px" height="350px" [options]="spinnerLoadingOptions">
    </ng-lottie>

    <h1 class="loading">Carregando...</h1>
  </div>
</div>

<div
  *ngIf="
    spinLoadService.enableSpinLoad &&
    spinLoadService.tipoSpinner == spinnerSaving
  "
  class="container-spin"
>
  <div class="black-page"></div>
  <div class="spin">
    <ng-lottie
      width="350px"
      height="350px"
      [options]="spinnerSavingOptions"
    ></ng-lottie>

    <!--  <h1 class="saving">Salvando...</h1> -->
  </div>
</div>
