<div
  *ngIf="
    spinLoadService.enableSpinLoad &&
    spinLoadService.tipoSpinner == spinnerLoading
  "
  class="container-spin"
>
  <div class="black-page"></div>

  <ng-lottie
    class="spin"
    width="350px"
    height="350px"
    [options]="spinnerLoadingOptions"
  >
  </ng-lottie>
</div>

<div
  *ngIf="
    spinLoadService.enableSpinLoad &&
    spinLoadService.tipoSpinner == spinnerSaving
  "
  class="container-spin"
>
  <div class="black-page"></div>
  <ng-lottie
    class="spin"
    width="350px"
    height="350px"
    [options]="spinnerSavingOptions"
  ></ng-lottie>
</div>
