<div dashboard>
  <h1 app-title>
    <mat-icon>dashboard_customize</mat-icon>
    {{ titleService.getTitle() }}
  </h1>

  <div app-card-container app-tooltip-helper>
    <div app-multi-card class="header-with-button">
      <div app-multi-card-header>
        <h2 app-card-title>Despesa de casa</h2>

        <button download-button (click)="exportarRelatorioDespesasCasa()">
          <p>Download do Relatório</p>
          <mat-icon>download</mat-icon>
          <mat-icon
            class="icon-help"
            matTooltip="Baixar um PDF onde descreve os cálculos feitos sobre os valores das despesas relacionadas a Almoço, Lanches, Higiene etc..."
            >help_outline
          </mat-icon>
        </button>
      </div>
      <div app-multi-card-body>
        <div status-fatura>
          <mat-radio-group
            [(ngModel)]="statusFaturaCasa"
            (change)="onStatusChange(casa)"
          >
            <mat-radio-button value="aberto" class="fatura-aberta"
              >Fatura Aberta</mat-radio-button
            >
            <mat-radio-button value="fechado" class="fatura-fechada"
              >Fatura Fechada</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div *ngIf="despesasPorMembros.length > 0; else semDados">
          <div *ngFor="let item of despesasPorMembros" class="expense-item">
            <div class="expense-title">{{ item.nome }}</div>
            <div class="expense-value">
              {{ item.valorDespesaCasa | currency:'BRL' }}
            </div>
            <div
              share-whatsapp
              (click)="openMensagemWhatsAppModal(item.nome, false)"
            >
              <mat-icon>share</mat-icon>
              <span>WhatsApp</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div app-multi-card class="header-with-button">
      <div app-multi-card-header>
        <h2 app-card-title>Despesa de moradia</h2>

        <button
          download-button
          (click)="exportarRelatorioDespesasHabitacional()"
        >
          <p>Download do Relatório</p>
          <mat-icon>download</mat-icon>
          <mat-icon
            class="icon-help"
            matTooltip="Baixar um PDF onde descreve os calculos feitos sobre os valores das despesas relacionadas a Aluguel, Condomínio, e Conta de Luz etc..."
            >help_outline</mat-icon
          >
        </button>
      </div>
      <div app-multi-card-body>
        <div status-fatura>
          <mat-radio-group
            [(ngModel)]="statusFaturaMoradia"
            (change)="onStatusChange(moradia)"
          >
            <mat-radio-button value="aberto" class="fatura-aberta"
              >Fatura Aberta</mat-radio-button
            >
            <mat-radio-button value="fechado" class="fatura-fechada"
              >Fatura Fechada</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div *ngIf="despesasPorMembros.length > 0; else semDados">
          <ng-container *ngFor="let item of despesasPorMembros">
            <div *ngIf="item.valorDespesaMoradia >= 0" class="expense-item">
              <div class="expense-title">{{ item.nome }}</div>
              <div class="expense-value">
                {{ item.valorDespesaMoradia | currency:'BRL' }}
              </div>
              <div
                share-whatsapp
                (click)="openMensagemWhatsAppModal(item.nome, true)"
              >
                <mat-icon>share</mat-icon>
                <span>WhatsApp</span>
              </div>
            </div>
          </ng-container>
        </div>
        <ng-template #noDespesasMoradia>
          <h2>Nenhuma despesa encontrada</h2>
        </ng-template>
      </div>
    </div>

    <div app-multi-card>
      <app-grafico-total-grupo-fatura></app-grafico-total-grupo-fatura>
    </div>

    <div app-multi-card>
      <app-table-despesas-por-categoria></app-table-despesas-por-categoria>
    </div>
  </div>

  <!--   <button
    id="scrollToggle"
    class="scroll-toggle-button"
    (click)="toggleScroll()"
  >
    <mat-icon>{{ scrollIcon }}</mat-icon>
  </button> -->

  <ng-template #semDados>
    <div dados-nao-encontrados>Nenhuma informação encontrada</div>
  </ng-template>
</div>
